@media screen and (min-width: 0px) and (max-width: 750px) {
    .grid-total {
        .grid-total-header {
            .navbar {
                font-size: 1.5vw;
                .container-fluid {
                    .navbar-brand {
                        img {}
                    }
                    p {
                        font-size: 3.5vw;
                    }
                    button {
                        color: rgb(255, 255, 255);
                    }
                    .collapse {
                        .navbar-nav {}
                        ul {
                            font-size: 2vw;
                            li {
                                font-size: 2vw;
                                button {}
                            }
                        }
                    }
                    .navbar-collapse {
                        background: rgb(44, 44, 44);
                    }
                    a {
                        font-size: 2vw;
                    }
                    i {
                        font-size: 2vw;
                    }
                }
            }
        }
    }
    .dropdown:hover>.dropdown-menu {}
    .dropdown-item:hover {}
    .navbar .nav-link:hover {}
    nav li .nav-link:hover {}
}