/* PC AND TV4K NEXT 1001PX */

@media screen and (min-width: 1001px) {
    .grid-total {
        display: grid;
        grid-template: 75px repeat(38, 1fr) 550px / repeat(40, 1fr);
        height: 130vh;
    }
    .grid-total-header {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(15, 1fr) / repeat(40, 1fr);
        max-height: 75px;
        min-height: 75px;
    }
    .grid-total-container {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
    }
    .grid-total-footer {
        grid-row: -1 / -1;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(15, 1fr) / repeat(40, 1fr);
    }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    .grid-total {
        display: grid;
        grid-template: minmax(75px, 75px) repeat(38, 1fr) minmax(1200px, 1200px) / repeat(40, 1fr);
        // grid-template-rows: minmax(150px, auto) 400px;
        height: 190vh;
    }
    .grid-total-header {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(15, 1fr) / repeat(40, 1fr);
    }
    .grid-total-container {
        grid-row: 2 / 40;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
    }
    .grid-total-footer {
        grid-row: 40 / -1;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(15, 1fr) / repeat(40, 1fr);
    }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .grid-total {
        display: grid;
        grid-template: minmax(75px, 75px) repeat(38, 1fr) minmax(1200px, 1200px) / repeat(40, 1fr);
        // grid-template-rows: minmax(150px, auto) 400px;
        height: 190vh;
    }
    .grid-total-header {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(15, 1fr) / repeat(40, 1fr);
    }
    .grid-total-container {
        grid-row: 2 / 40;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
    }
    .grid-total-footer {
        grid-row: 40 / -1;
        grid-column: 1 / -1;
        display: grid;
        grid-template: repeat(15, 1fr) / repeat(40, 1fr);
    }
}