/* PHONE 0PX - 750PX */

@media screen and (min-width: 0px) and (max-width: 750px) {
    .grid-total-footer {
        background: rgb(30, 30, 32);
        color: white;
        text-align: center;
        /*MAPA*/
        .container-mapa {
            grid-row: 1 / 7;
            grid-column: 1 / -1;
        }
        .container-mapa {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
        }
        .container-mapa>* {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        /*COMPANY*/
        .container-company {
            grid-row: 7 / 10;
            grid-column: 1 / -1;
            background: rgb(59, 59, 59);
            text-align: center;
        }
        .container-company h2 {
            color: rgb(255, 115, 0);
            font-size: 5vw;
        }
        .container-company p {
            font-size: 4vw;
            text-align: center;
        }
        /*PRODUCTS*/
        .container-product {
            grid-row: 11 / 14;
            grid-column: 1 / 13;
            text-align: center;
        }
        .container-product h2 {
            color: rgb(255, 115, 0);
            font-size: 4vw;
        }
        .container-product p {
            font-size: 3vw;
        }
        /*LINKS*/
        .container-links {
            grid-row: 11 / 14;
            grid-column: 30 / 40;
            text-decoration: none;
        }
        .container-links h2 {
            color: rgb(255, 115, 0);
            font-size: 4vw;
        }
        .container-links a {
            color: rgb(255, 255, 255);
            font-size: 3vw;
        }
        .container-links a:hover {
            color: rgb(255, 255, 255);
            font-size: 3vw;
        }
        /*CONTACT*/
        .container-contact {
            grid-row: 10 / 14;
            grid-column: 1 / -1;
        }
        .container-contact h2 {
            color: rgb(255, 115, 0);
            font-size: 4vw;
        }
        .container-contact p {
            font-size: 3vw;
        }
        /*LINEA*/
        .container-linea {
            grid-row: 14 / 15;
            grid-column: 1 / -1;
            hr {
                background: rgb(255, 255, 255);
            }
        }
        /*COPY RIGHT*/
        .container-copyRight {
            grid-row: 15 / -1;
            grid-column: 1 / 30;
            h2 {
                text-align: left;
                font-size: 4vw;
            }
        }
        /*REDES SOCIALES*/
        /*FACEBOOK*/
        .container-facebook {
            grid-row: 15 / -1;
            grid-column: 34 / 37;
        }
        .container-facebook i {
            text-decoration: white;
            font-size: 7vw;
            color: white;
        }
        /*INSTAGRAM*/
        .container-instagram {
            grid-row: 15 / -1;
            grid-column: 37 / 40;
        }
        .container-instagram i {
            text-decoration: white;
            font-size: 7vw;
            color: white;
        }
        i:hover {
            color: rgb(255, 72, 0);
        }
    }
}