.header {
    color: black;
}

nav .navbar {
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 1.2vw;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-brand
/* 
a:before,
a:after,
a div:before,
a div:after {
    content: "";
    position: absolute;
    display: block;
    background: #fff;
    z-index: 4;
    transition: all .6s ease;
}

a:before,
a:after {
    width: 0;
    height: 4px;
}

a div:before,
a div:after {
    width: 4px;
    height: 0;
}

a:before {
    top: 5%;
    left: 5%;
}

a:hover:before,
a:hover:after {
    width: 90%;
}

a:hover div:before,
a:hover div:after {
    height: 90%;
}

a:after {
    bottom: 5%;
    right: 5%;
}

a div:before {
    bottom: 5%;
    left: 5%;
}

a div:after {
    top: 5%;
    right: 5%;
}
*/