@media screen and (min-width: 1001px) {
  .grid-total {
    display: grid;
    grid-template: 75px repeat(38, 1fr) 550px/repeat(40, 1fr);
    height: 120vh; }
  .grid-total-header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(15, 1fr)/repeat(40, 1fr);
    max-height: 75px;
    min-height: 75px; }
  .grid-total-container {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
  .grid-total-footer {
    grid-row: -1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(15, 1fr)/repeat(40, 1fr);
    max-height: 550px;
    min-height: 550px; } }
