@media screen and (min-width: 1001px) {
  .grid-total {
    display: grid;
    grid-template: 75px repeat(38, 1fr) 550px/repeat(40, 1fr);
    height: 150vh; }
  .grid-total-header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(15, 1fr)/repeat(40, 1fr);
    max-height: 75px;
    min-height: 75px; }
  .grid-total-container {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
  .grid-total-footer {
    grid-row: -1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(15, 1fr)/repeat(40, 1fr);
    max-height: 550px;
    min-height: 550px; } }

@media screen and (min-width: 751px) and (max-width: 1000px) {
  .grid-total {
    display: grid;
    grid-template: 50px repeat(38, 1fr) 250px/repeat(40, 1fr);
    height: 130vh; }
  .grid-total-header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(15, 1fr)/repeat(40, 1fr);
    max-height: 75px;
    min-height: 75px; }
  .grid-total-container {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
  .grid-total-footer {
    grid-row: -1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(15, 1fr)/repeat(40, 1fr);
    max-height: 250px;
    min-height: 250px; } }

@media screen and (min-width: 501px) and (max-width: 750px) {
  .grid-total {
    display: grid;
    grid-template: 50px repeat(38, 1fr) 250px/repeat(40, 1fr);
    height: 130vh; }
    .grid-total .grid-total-header {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      display: grid;
      grid-template: repeat(15, 1fr)/repeat(40, 1fr);
      max-height: 75px;
      min-height: 75px; }
    .grid-total .grid-total-container {
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      display: grid;
      grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
      .grid-total .grid-total-container .subcontainer-shutterArco {
        grid-row: 3 / 39;
        grid-column: 3 / 39;
        background: blue;
        display: grid;
        grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
        .grid-total .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description {
          grid-row: 1 / 20;
          grid-column: 1 / -1;
          background: #222ed8;
          display: grid;
          grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
        .grid-total .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-imagenes {
          grid-row: 20 / -1;
          grid-column: 1 / -1;
          background: #6bd822;
          display: grid;
          grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .grid-total .grid-total-footer {
      grid-row: -1 / -1;
      grid-column: 1 / -1;
      display: grid;
      grid-template: repeat(15, 1fr)/repeat(40, 1fr);
      max-height: 250px;
      min-height: 250px; } }

@media screen and (min-width: 251px) and (max-width: 500px) {
  .grid-total {
    display: grid;
    grid-template: 50px repeat(38, 1fr) 250px/repeat(40, 1fr);
    height: 120vh; }
    .grid-total .grid-total-header {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      display: grid;
      grid-template: repeat(15, 1fr)/repeat(40, 1fr);
      max-height: 75px;
      min-height: 75px; }
    .grid-total .grid-total-container {
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      display: grid;
      grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
      .grid-total .grid-total-container .subcontainer-shutterArco {
        grid-row: 3 / 39;
        grid-column: 3 / 39;
        background: blue;
        display: grid;
        grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
        .grid-total .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description {
          grid-row: 1 / 20;
          grid-column: 1 / -1;
          background: #222ed8;
          display: grid;
          grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
        .grid-total .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-imagenes {
          grid-row: 20 / -1;
          grid-column: 1 / -1;
          background: #6bd822;
          display: grid;
          grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .grid-total .grid-total-footer {
      grid-row: -1 / -1;
      grid-column: 1 / -1;
      display: grid;
      grid-template: repeat(15, 1fr)/repeat(40, 1fr);
      max-height: 250px;
      min-height: 250px; } }
