.grid-total-container {
    color: rgb(255, 255, 255);
    .gallery-container {
        grid-row: 1 / -1;
        grid-column: 2 / 40;
    }
    .pagination {
        grid-row: 40 / -1;
        grid-column: 1 / -1;
    }
}