.grid-total-footer {
    // grid-row: 30 / -1;
    // grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(40, 1fr);
    background: rgb(30, 30, 32);
    color: white;
    .container-company {
        grid-row: 2 / 11;
        grid-column: 2 / 10;
    }
    .container-product {
        grid-row: 2 / 11;
        grid-column: 12 / 20;
    }
    .container-links {
        grid-row: 2 / 11;
        grid-column: 17 / 27;
        text-decoration: none;
    }
    .container-contact {
        grid-row: 2 / 11;
        grid-column: 21 / 40;
    }
    .container-linea {
        grid-row: 11 / 12;
        grid-column: 2 / 31;
        hr {
            background: rgb(255, 255, 255);
        }
    }
    .container-copyRight {
        grid-row: 13 / -1;
        grid-column: 2 / 15;
    }
    .container-facebook {
        grid-row: 13 / 13;
        grid-column: 29 / 37;
    }
    .container-instagram {
        grid-row: 13 / 13;
        grid-column: 30 / 38;
    }
    .container-twitter {
        grid-row: 13 / 13;
        grid-column: 38 / 39;
    }

    .container-mapa{
        grid-row: 2 / 11;
        grid-column: 32 / 40;
    }
}