.grid-total-container {
    grid-row: 3 / 30;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(40, 1fr) / repeat(40, 1fr);
    h1 {
        grid-row: 1 / 5;
        grid-column: 1 / -1;
        text-align: center;
    }
    .subcontainer-shutterPuertaFrancesa {
        grid-row: 3 / 39;
        grid-column: 3 / 39;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        .img {
            grid-row: 22 / -1;
            grid-column: 1 / -1;
            img {}
        }
        .subcontainer-shutterPuertaFrancesa-description {
            grid-row: 1 / -1;
            grid-column: 1 / 23;
            display: grid;
            grid-template: repeat(40, 1fr) / repeat(40, 1fr);
            .subcontainer-shutterPuertaFrancesa-description-text {
                grid-row: 5 / -1;
                grid-column: 1 / 37;
            }
        }
        .subcontainer-shutterPuertaFrancesa-imagenes {
            grid-row: 1 / -1;
            grid-column: 23 / -1;
            display: grid;
            grid-template: repeat(40, 1fr) / repeat(40, 1fr);
            img:nth-child(1) {
                grid-row: 1 / 20;
                grid-column: 1 / -1;
            }
        }
    }
}