.grid-total-container {
    .subcontainer-nuestroEquipo{
        grid-row: 3 / 39;
        grid-column: 3 / 39;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        background: red;

        /*-----------------------------GRID LEALTAD-------------------------------*/
        .subcontainer-nuestroEquipo-lealtad{
            grid-row: 1 / 14;
            grid-column: 1 / -1;
            display: grid;
            grid-template: repeat(10, 1fr) / repeat(40, 1fr);
            background: blueviolet;
            .subcontainer-nuestroEquipo-lealtad-title{
                grid-row: 1 / 3;
                grid-column: 1 / 31;
                background: rgb(238, 255, 0);
            }
            .subcontainer-nuestroEquipo-lealtad-description{
                grid-row: 3 / -1;
                grid-column: 1 / 31;
                background: rgb(30, 255, 0);
            }
            .subcontainer-nuestroEquipo-lealtad-picture{
                grid-row: 1 / -1;
                grid-column: 31 / -1;
                background: rgb(0, 255, 213);
            }
        }
        /*-----------------------------GRID RESPETO-------------------------------*/
        .subcontainer-nuestroEquipo-respeto{
            grid-row: 14 / 27;
            grid-column: 1 / -1;
            display: grid;
            grid-template: repeat(10, 1fr) / repeat(40, 1fr);
            background: rgb(0, 9, 128);
            .subcontainer-nuestroEquipo-respeto-title{
                grid-row: 1 / 3;
                grid-column: 1 / -1;
                background: rgb(234, 0, 255);
            }
            .subcontainer-nuestroEquipo-respeto-description{
                grid-row: 3 / -1;
                grid-column: 10 / -1;
                background: rgb(255, 0, 0);
            }
            .subcontainer-nuestroEquipo-respeto-picture{
                    grid-row: 3 / -1;
                    grid-column: 1 / 10;
                    background: rgb(153, 0, 255);
                }
            }
        
        /*-----------------------------GRID COMPROMISO-------------------------------*/
        .subcontainer-nuestroEquipo-compromiso{
            grid-row: 27 / -1;
            grid-column: 1 / -1;
            display: grid;
            grid-template: repeat(10, 1fr) / repeat(40, 1fr);
            background: chocolate;
            .subcontainer-nuestroEquipo-compromiso-title{
                grid-row: 1 / 3;
                grid-column: 1 / 31;
                background: rgb(0, 255, 21);
                
            }
            .subcontainer-nuestroEquipo-compromiso-description{
                grid-row: 3 / -1;
                grid-column: 1 / 31;
                background: rgb(17, 0, 255);
            }
            .subcontainer-nuestroEquipo-compromiso-picture{
                grid-row: 1 / -1;
                grid-column: 31 / -1;
                background: rgb(0, 255, 98);
            }
        }
    }
}