.grid-total-container {
    .subcontainer-conocenos {
        grid-row: 3 / 39;
        grid-column: 3 / 39;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        grid-gap: 0.5%;
        /*GRID NOSOTROS*/
        .subcontainer-conocenos-nosotros {
            grid-row: 1 / 10;
            grid-column: 1 / -1;
        }
        /*GRID VALORES*/
        .subcontainer-conocenos-valores {
            grid-row: 10 / 20;
            grid-column: 1 / -1;
        }
        /*GRID MISION*/
        .subcontainer-conocenos-mision {
            grid-row: 20 / 30;
            grid-column: 1 / -1;
        }
        /*GRID VISION*/
        .subcontainer-conocenos-vision {
            grid-row: 30 / -1;
            grid-column: 1 / -1;
        }
    }
}