.grid-total-container {
    h1 {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
    .subcontainer-shutterArco {
        grid-row: 3 / 39;
        grid-column: 3 / 39;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        .subcontainer-shutterArco-description {
            grid-row: 1 / -1;
            grid-column: 1 / 23;
            display: grid;
            grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        }
        .subcontainer-shutterArco-imagenes {
            grid-row: 1 / -1;
            grid-column: 23 / -1;
            display: grid;
            grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        }
    }
}