.grid-total-container {
    grid-row: 3 / 30;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(40, 1fr) / repeat(40, 1fr);
    h1 {
        grid-row: 1 / 5;
        grid-column: 1 / -1;
    }
    .subcontainer-shutterCorrediza {
        grid-row: 3 / 39;
        grid-column: 3 / 39;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        .subcontainer-shutterCorrediza-description {
            grid-row: 1 / -1;
            grid-column: 1 / 23;
            display: grid;
            grid-template: repeat(40, 1fr) / repeat(40, 1fr);
            .subcontainer-shutterCorrediza-description-text {
                grid-row: 5 / -1;
                grid-column: 1 / 37;
            }
        }
        .subcontainer-shutterCorrediza-imagenes {
            grid-row: 1 / -1;
            grid-column: 23 / -1;
            display: grid;
            grid-template: repeat(40, 1fr) / repeat(40, 1fr);
            justify-content: center;
            justify-items: center;
            justify-self: center;
            align-content: center;
            align-items: center;
            align-self: center;
            img:nth-child(1) {
                grid-row: 1 / 20;
                grid-column: 1 / -1;
                width: 90%;
                height: auto;
            }
            img:nth-child(2) {
                grid-row: 20 / -1;
                grid-column: 1 / -1;
                width: 90%;
                height: auto;
            }
        }
    }
}