.grid-total {
    height: 150vh;
    .grid-total-footer {
        grid-row: 30 / -1;
        grid-column: 1 / -1;
    }
    .grid-total-header {
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        background: black;
    }
    .container-shutterEstandar {
        grid-row: 3 / 30;
        grid-column: 1 / -1;
        background: red;
        display: grid;
        grid-template: repeat(40, 1fr) / repeat(40, 1fr);
        .subcontainer-shutterEstandar {
            grid-row: 3 / 39;
            grid-column: 3 / 39;
            background: blue;
            display: grid;
            grid-template: repeat(40, 1fr) / repeat(40, 1fr);
            .subcontainer-shutterEstandar-description {
                grid-row: 1 / -1;
                grid-column: 1 / 23;
                background: rgb(34, 216, 146);
                display: grid;
                grid-template: repeat(40, 1fr) / repeat(40, 1fr);
            }
            .subcontainer-shutterEstandar-imagenes {
                grid-row: 1 / -1;
                grid-column: 23 / -1;
                background: rgb(107, 216, 34);
                display: grid;
                grid-template: repeat(40, 1fr) / repeat(40, 1fr);
            }
        }
    }
}

.container-shutterEstandar h1 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    //align-self: center; //CENTER VERTICAL TEXT
    justify-self: center; //CENTER  HORIZONTAL TEXT
    text-align: center;
}

.subcontainer-shutterEstandar h1 {
    justify-self: center; //CENTER  HORIZONTAL TEXT
    text-align: center;
}

.subcontainer-shutterEstandar-description h1 {
    align-self: center; //CENTER VERTICAL TEXT
    justify-self: center; //CENTER  HORIZONTAL TEXT
    text-align: center;
}

.subcontainer-shutterEstandar-imagenes h1 {
    align-self: center; //CENTER VERTICAL TEXT
    justify-self: center; //CENTER  HORIZONTAL TEXT
    text-align: center;
}