.grid-total {
    .grid-total-container {
        .carousel {
            grid-row: 1/-1;
            grid-column: 1/-1;
            display: grid;
            grid-template: repeat(20, 1fr)/repeat(20, 1fr);
            .logotipo {
                grid-row: 3 / 10;
                grid-column: 9 / 13;
            }
            .carousel-inner {
                grid-row: 1 / -1;
                grid-column: 1 / -1;
                .carousel-item {
                    .carousel-caption {
                        h5 {}
                    }
                }
            }
        }
    }
}