.grid-total-container {
    background: rgb(0, 0, 0);
    color: white;
    .titulo {
        grid-row: 4 / 6;
        grid-column: 1 / -1;
        text-align: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-content: center;
        align-items: center;
        align-self: center;
        font-size: 3vw;
    }
    .img {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-content: center;
        align-items: center;
        align-self: center;
        img {
            width: 80%;
            height: auto;
        }
    }
}