.grid-total-container {
    background-image: url('/media/Imagenes/gallery-bgedit.png');
    color: white;
    .subcontainer-shutterEstandar {
        .subcontainer-shutterEstandar-description {
            h1 {
                text-align: left;
                font-size: 4vw;
            }
            .subcontainer-shutterEstandar-description-text {
                font-size: 2vw;
                //align-self: center; //CENTER VERTICAL TEXT
                justify-self: center; //CENTER  HORIZONTAL TEXT
                text-align: justify;
            }
        }
        .subcontainer-shutterEstandar-imagenes {
            justify-items: end;
            img:nth-child(1) {
                display: block;
                width: 70%;
                height: auto;
                align-self: flex-start;
            }
            img:nth-child(2) {
                display: block;
                width: 70%;
                height: auto;
                align-self: flex-end;
            }
        }
    }
}