.grid-total{
    .grid-total-header{
        .navbar{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: .8vw;
            .container-fluid{
                .navbar-brand{
                    img{}
                }
                p{
                    position: relative;
                    top: 10px;
                    color: white;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: .9vw;
                }
                button{}
                .collapse{
                    .navbar-nav{
                        
                    }
                }
                a{
                    color: white;
                }
                i{
                    font-size: 2vw;
                    color: white;
                }
            }
        }
    }
}

.dropdown:hover>.dropdown-menu {
}

.navbar .nav-link:hover {
    text-decoration: none;
    border-top: 3px solid;
    border-color: #ff7b00;
    transition: 0.5s;
}

