.grid-total {
    //background-image: url('/media/Imagenes/background/bg-blurindex.png');
    background-image: url('/media/Imagenes/background/gallery-bg.jpg');
    //background-size: cover;
    background-repeat: no-repeat;
    //background-image: url('/media/Imagenes/background/gallery-bgedit.png');
}

.grid-total-header {}

.grid-total-container {}

.grid-total-footer {}