.grid-total-container {
    background-image: url('/media/Imagenes/gallery-bgedit.png');
    color: white;
    .subcontainer-contactanos{
        .subcontainer-contactanos-direccion{
            .subcontainer-contactanos-direccion-texto {
                h1{
                    text-align: left;
                    font-size: 4vw;
                }
                p{
                    text-align: justify;
                    font-size: 2vw;
                }
            }
            .subcontainer-contactanos-direccion-mapa {
                position: relative;
                width: 100%;
                padding-bottom: 56.25%;
            }
            .subcontainer-contactanos-direccion-mapa>* {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
            }
        }
        .subcontainer-contactanos-informacion{
            .subcontainer-contactanos-informacion-nombre{
                h2{
                    text-align: left;
                    font-size: 3vw;
                }
                p{
                    text-align: justify;
                    font-size: 2.5vw;
                }
            }
            .subcontainer-contactanos-informacion-telefono{
                h2{
                    text-align: left;
                    font-size: 3vw;
                }
                p{
                    text-align: justify;
                    font-size: 1.5vw;
                }
            }
            .subcontainer-contactanos-informacion-email{
                h2{
                    text-align: left;
                    font-size: 3vw;
                }
                p{
                    text-align: justify;
                    font-size: 2vw;
                }
            }
            .subcontainer-contactanos-informacion-redes{
                h2{
                    text-align: left;
                    font-size: 3vw;
                }
                i{
                    color: white;
                    font-size: 6vw;
                }

            }
        }
    }
}