.subcontainer-contactanos{
    background: blueviolet;
    .subcontainer-contactanos-mapa{
        background: rgb(255, 0, 0);
    }
    .subcontainer-contactanos-informacion{
        background: rgb(68, 68, 68);
    }
}