.grid-total-container {
    color: white;
    .subcontainer-consejo {
        .subcontainer-consejo-titulo {
            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 4vw;
                text-align: left;
            }
        }
        .subcontainer-consejo-descripcion {
            p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2vw;
                text-align: justify;
            }
        }
    }
}