.grid-total-container {
    color: white;
    .subcontainer-shutterCorrediza {
        .subcontainer-shutterCorrediza-description {
            h1 {
                //justify-self: center; //CENTER  HORIZONTAL TEXT
                text-align: left;
                font-size: 4vw;
            }
            .subcontainer-shutterCorrediza-description-text {
                //justify-self: center; //CENTER  HORIZONTAL TEXT
                justify-self: center;
                text-align: justify;
                font-size: 1.7vw;
            }
        }
        .subcontainer-shutterCorrediza-imagenes {
            justify-items: end;
            img:nth-child(1) {
                display: block;
                width: 100%;
                height: auto;
                align-self: flex-start;
            }
            img:nth-child(2) {
                display: block;
                width: 100%;
                height: auto;
                align-self: flex-end;
            }
        }
    }
}