.grid-total {
    .grid-total-container {
        background: #000000;
        .carousel {
            .logotipo {
                z-index: 1;
                text-align: center;
                justify-content: center;
                justify-items: center;
                justify-self: center;
                align-content: center;
                align-items: center;
                align-self: center;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .carousel-inner {
                .carousel-item {
                    img {
                        position: relative;
                        top: 0;
                        left: 0;
                        max-height: 780px;
                        width: 100%;
                        height: auto;
                    }
                    .carousel-caption {
                        h5 {
                            z-index: 1;
                            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
    }
}

.bg-img {
    position: relative;
    grid-row: 1/21;
    grid-column: 1/-1;
    width: 100%;
    background-image: url("/media/Imagenes/bg-shutters.jpg");
    height: 100%;
    background-size: cover;
}

.bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #c4c4c4, #000000);
    opacity: .6;
}

.titulo {
    position: relative;
    bottom: 300px;
    color: rgb(255, 255, 255);
}