.grid-total-container {
    background-image: url('/media/Imagenes/gallery-bgedit.png');
    color: white;
    .subcontainer-conocenos {
        /*GRID GENTE*/
        .subcontainer-conocenos-nosotros {
            h2 {
                font-size: 2.5vw;
                text-align: left;
            }
            p {
                font-size: 1.7vw;
                text-align: justify;
            }
        }
        /*GRID GENTE*/
        .subcontainer-conocenos-valores {
            h2 {
                font-size: 2.5vw;
                text-align: left;
            }
            p {
                font-size: 1.7vw;
                text-align: justify;
            }
        }
        /*GRID GENTE*/
        .subcontainer-conocenos-mision {
            h2 {
                font-size: 2.5vw;
                text-align: left;
            }
            p {
                font-size: 1.7vw;
                text-align: justify;
            }
        }
        /*GRID GENTE*/
        .subcontainer-conocenos-vision {
            h2 {
                font-size: 2.5vw;
                text-align: left;
            }
            p {
                font-size: 1.7vw;
                text-align: justify;
            }
        }
    }
}