.grid-total-container {
    background-image: url('/media/Imagenes/gallery-bgedit.png');
    //background: white;
    .subcontainer-shutterArco {
        color: white;
        //color: black;
        h1 {
            justify-self: center; //CENTER  HORIZONTAL TEXT
            text-align: center;
        }
        .subcontainer-shutterArco-description {
            h1 {
                //align-self: center; //CENTER VERTICAL TEXT
                justify-self: center; //CENTER  HORIZONTAL TEXT
                text-align: center;
                font-size: 4vw;
            }
            p {
                align-self: center; //CENTER VERTICAL TEXT
                justify-self: center; //CENTER  HORIZONTAL TEXT
                text-align: justify;
                font-size: 2vw;
            }
        }
        .subcontainer-shutterArco-imagenes {
            justify-content: center;
            justify-items: center;
            justify-self: center;
            align-content: center;
            align-items: center;
            align-self: center;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}