.grid-total-container {
    color: white;
    .subcontainer-shutterArco {
        display: block;
        .subcontainer-shutterArco-description {
            h1 {
                font-size: 4vw;
                text-align: left;
            }
            p {
                font-size: 2vw;
                text-align: justify;
            }
        }
        .subcontainer-shutterArco-imagenes {
            justify-content: end;
            justify-items: end;
            justify-self: end;
            align-content: flex-end;
            align-items: flex-end;
            align-self: flex-end;
            img:nth-child(1) {
                display: block;
                width: 90%;
                height: auto;
            }
            img:nth-child(2) {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}