.grid-total-container {
  color: white; }
  .grid-total-container .gallery-container {
    grid-row: 1 / -1;
    grid-column: 2 / 40; }
  .grid-total-container .pagination {
    grid-row: 40 / -1;
    grid-column: 1 / -1; }
