.grid-total .grid-total-container .subcontainer-contactanos {
  grid-row: 3 / 39;
  grid-column: 3 / 39;
  display: grid;
  grid-template: repeat(40, 1fr)/repeat(40, 1fr);
  grid-gap: 0.5%; }
  .grid-total .grid-total-container .subcontainer-contactanos .subcontainer-contactanos-mapa {
    grid-row: 1 / -1;
    grid-column: 1 / 18;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
  .grid-total .grid-total-container .subcontainer-contactanos .subcontainer-contactanos-informacion {
    grid-row: 1 / -1;
    grid-column: 18 / -1;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
