.grid-total-container .subcontainer-nuestroEquipo {
  grid-row: 3 / 39;
  grid-column: 3 / 39;
  display: grid;
  grid-template: repeat(40, 1fr)/repeat(40, 1fr);
  background: red;
  /*-----------------------------GRID LEALTAD-------------------------------*/
  /*-----------------------------GRID RESPETO-------------------------------*/
  /*-----------------------------GRID COMPROMISO-------------------------------*/ }
  .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-lealtad {
    grid-row: 1 / 14;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(40, 1fr);
    background: blueviolet; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-lealtad .subcontainer-nuestroEquipo-lealtad-title {
      grid-row: 1 / 3;
      grid-column: 1 / 31;
      background: #eeff00; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-lealtad .subcontainer-nuestroEquipo-lealtad-description {
      grid-row: 3 / -1;
      grid-column: 1 / 31;
      background: #1eff00; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-lealtad .subcontainer-nuestroEquipo-lealtad-picture {
      grid-row: 1 / -1;
      grid-column: 31 / -1;
      background: #00ffd5; }
  .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-respeto {
    grid-row: 14 / 27;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(40, 1fr);
    background: #000980; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-respeto .subcontainer-nuestroEquipo-respeto-title {
      grid-row: 1 / 3;
      grid-column: 1 / -1;
      background: #ea00ff; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-respeto .subcontainer-nuestroEquipo-respeto-description {
      grid-row: 3 / -1;
      grid-column: 10 / -1;
      background: red; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-respeto .subcontainer-nuestroEquipo-respeto-picture {
      grid-row: 3 / -1;
      grid-column: 1 / 10;
      background: #9900ff; }
  .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-compromiso {
    grid-row: 27 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(40, 1fr);
    background: chocolate; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-compromiso .subcontainer-nuestroEquipo-compromiso-title {
      grid-row: 1 / 3;
      grid-column: 1 / 31;
      background: #00ff15; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-compromiso .subcontainer-nuestroEquipo-compromiso-description {
      grid-row: 3 / -1;
      grid-column: 1 / 31;
      background: #1100ff; }
    .grid-total-container .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-compromiso .subcontainer-nuestroEquipo-compromiso-picture {
      grid-row: 1 / -1;
      grid-column: 31 / -1;
      background: #00ff62; }
