.grid-total-container {
  grid-row: 3 / 30;
  grid-column: 1 / -1;
  display: grid;
  grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
  .grid-total-container h1 {
    grid-row: 1 / 5;
    grid-column: 1 / -1;
    text-align: center; }
  .grid-total-container .subcontainer-shutterPuertaFrancesa {
    grid-row: 3 / 39;
    grid-column: 3 / 39;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .grid-total-container .subcontainer-shutterPuertaFrancesa .img {
      grid-row: 22 / -1;
      grid-column: 1 / -1; }
    .grid-total-container .subcontainer-shutterPuertaFrancesa .subcontainer-shutterPuertaFrancesa-description {
      grid-row: 1 / -1;
      grid-column: 1 / 23;
      display: grid;
      grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
      .grid-total-container .subcontainer-shutterPuertaFrancesa .subcontainer-shutterPuertaFrancesa-description .subcontainer-shutterPuertaFrancesa-description-text {
        grid-row: 5 / -1;
        grid-column: 1 / 37; }
    .grid-total-container .subcontainer-shutterPuertaFrancesa .subcontainer-shutterPuertaFrancesa-imagenes {
      grid-row: 1 / -1;
      grid-column: 23 / -1;
      display: grid;
      grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
      .grid-total-container .subcontainer-shutterPuertaFrancesa .subcontainer-shutterPuertaFrancesa-imagenes img:nth-child(1) {
        grid-row: 1 / 20;
        grid-column: 1 / -1; }
