.grid-total-footer .container-company {
  grid-row: 2 / 11;
  grid-column: 2 / 10; }

.grid-total-footer .container-product {
  grid-row: 2 / 11;
  grid-column: 12 / 20; }

.grid-total-footer .container-links {
  grid-row: 2 / 11;
  grid-column: 17 / 27;
  text-decoration: none; }

.grid-total-footer .container-contact {
  grid-row: 2 / 11;
  grid-column: 21 / 40; }

.grid-total-footer .container-linea {
  grid-row: 12 / 13;
  grid-column: 2 / 31; }
  .grid-total-footer .container-linea hr {
    background: white; }

.grid-total-footer .container-copyRight {
  grid-row: 13 / -1;
  grid-column: 2 / 15; }

.grid-total-footer .container-facebook {
  grid-row: 13 / 13;
  grid-column: 29 / 37; }

.grid-total-footer .container-instagram {
  grid-row: 13 / 13;
  grid-column: 30 / 38; }

.grid-total-footer .container-twitter {
  grid-row: 13 / 13;
  grid-column: 38 / 39; }

.grid-total-footer .container-mapa {
  grid-row: 2 / 15;
  grid-column: 32 / 40; }
