.grid-total-container {
  grid-row: 3 / 30;
  grid-column: 1 / -1;
  background: red;
  display: grid;
  grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
  .grid-total-container .subcontainer-shutterCorrediza {
    grid-row: 3 / 39;
    grid-column: 3 / 39;
    background: blue;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .grid-total-container .subcontainer-shutterCorrediza .subcontainer-shutterCorrediza-description {
      grid-row: 1 / -1;
      grid-column: 1 / 23;
      background: #22d892;
      display: grid;
      grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .grid-total-container .subcontainer-shutterCorrediza .subcontainer-shutterCorrediza-imagenes {
      grid-row: 1 / -1;
      grid-column: 23 / -1;
      background: #6bd822;
      display: grid;
      grid-template: repeat(40, 1fr)/repeat(40, 1fr); }

.grid-total-container h1 {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
  text-align: center; }

.subcontainer-shutterCorrediza h1 {
  justify-self: center;
  text-align: center; }

.subcontainer-shutterCorrediza-description h1 {
  align-self: center;
  justify-self: center;
  text-align: center; }

.subcontainer-shutterCorrediza-imagenes h1 {
  align-self: center;
  justify-self: center;
  text-align: center; }
