.grid-total-footer {
  grid-row: 30 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template: repeat(15, 1fr)/repeat(40, 1fr);
  background: #1e1e20;
  color: white; }
  .grid-total-footer .container-company {
    grid-row: 2 / 11;
    grid-column: 2 / 10; }
  .grid-total-footer .container-product {
    grid-row: 2 / 11;
    grid-column: 12 / 20; }
  .grid-total-footer .container-links {
    grid-row: 2 / 11;
    grid-column: 22 / 30; }
  .grid-total-footer .container-contact {
    grid-row: 2 / 11;
    grid-column: 32 / 40; }
  .grid-total-footer .container-linea {
    grid-row: 11 / 12;
    grid-column: 2 / 39; }
    .grid-total-footer .container-linea hr {
      background: white; }
  .grid-total-footer .container-copyRight {
    grid-row: 12 / 15;
    grid-column: 2 / 40; }
  .grid-total-footer .container-facebook {
    grid-row: 12 / 15;
    grid-column: 2 / 40; }
