<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_catalogo.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_catalogo.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_catalogo.css">

<div class="container-conocenos">
    <br>
    <br>
    <h1 class="titulo d-flex justify-content-center">ERROR: 404 Modulo catalogo en construccion</h1>
    <div class="img d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div>