<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_conocenos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_conocenos.css">

<!-- <div class="container-conocenos">
    <br>
    <br>
    <h1 class="d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="d-flex justify-content-center align-items-center">
        <img src=" /media/Imagenes/WebSiteInProgress/14.png " alt=" ">
    </div>
</div> -->

<div class="container-conocenos">
    <div class="nosotros">
        <h2>Nosotros</h2>
        <p>
            Nosotros nos dedicamos a trabajar la madera y convertirla en obra de arte, tenemos más de 17 años en el mercado con la fabricación de Shutter de la mejor calidad, mostrando los espacios en elegancia y comodidad en su hogar.
        </p>
    </div>
    <div class="valores">
        <h2>Valores</h2>
        <p>
            Orientación al cliente, integridad, competitividad, creatividad, compromiso, liderazgo, responsabilidad, calidad, pasión, honestidad, actitud de servicio, trabajo en equipo.
        </p>
    </div>
    <div class="mision">
        <h2>Misión</h2>
        <p>
            Atender al cliente perfectamente con la máxima calidad de trato y una adecuada asesoría en la decoración de interiores para lograr la satisfacción total.
        </p>
    </div>
    <div class="vision">
        <h2>Visión</h2>
        <p>
            Ser una empresa líder y en continuo crecimiento de soluciones de decoración que se distinga por ofrecer los mejores y más innovadores productos de la mejor calidad.
        </p>
    </div>
</div>