<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_conocenos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_conocenos.css">

<div class="container-conocenos">
    <br>
    <br>
    <h1 class="d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="d-flex justify-content-center align-items-center">
        <img src=" /media/Imagenes/WebSiteInProgress/14.png " alt=" ">
    </div>
</div>