<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_conocenos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_conocenos.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_conocenos.css">
<!-- TRANSALATE -->
<script src="/js/translate/header.js"></script>

<!-- <br>
<br>
<h1 class="titulo d-flex justify-content-center">ERROR: 404 Modulo conocenos en construccion</h1>
<div class="img d-flex justify-content-center align-items-center">
    <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
</div> -->

<div class="subcontainer-conocenos">
    <div class="subcontainer-conocenos-nosotros">
        <h2 class="lang" key="conocenos-1">Nosotros</h2>
        <p class="lang" key="conocenos-2">
            Nosotros nos dedicamos a trabajar la madera y convertirla en obra de arte, tenemos más de 19 años en el mercado con la fabricación de Shutter de la mejor calidad, mostrando los espacios en elegancia y comodidad en su hogar.
        </p>
    </div>
    <div class="subcontainer-conocenos-valores">
        <h2 class="lang" key="conocenos-3">Valores</h2>
        <p class="lang" key="conocenos-4">
            Orientación al cliente, integridad, competitividad, creatividad, compromiso, liderazgo, responsabilidad, calidad, pasión, honestidad, actitud de servicio, trabajo en equipo.
        </p>
    </div>
    <div class="subcontainer-conocenos-mision">
        <h2 class="lang" key="conocenos-5">Misión</h2>
        <p class="lang" key="conocenos-6">
            Atender al cliente perfectamente con la máxima calidad de trato y una adecuada asesoría en la decoración de interiores para lograr la satisfacción total.
        </p>
    </div>
    <div class="subcontainer-conocenos-vision">
        <h2 class="lang" key="conocenos-7">Visión</h2>
        <p class="lang" key="conocenos-8">
            Ser una empresa líder y en continuo crecimiento de soluciones de decoración que se distinga por ofrecer los mejores y más innovadores productos de la mejor calidad.
        </p>
    </div>
</div>