<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_consejoDos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_consejoDos.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_consejoDos.css">

<div class="subcontainer-consejo">
    <div class="subcontainer-consejo-titulo">
        <h1 class="consejoDos-9">Algunos de nuestros Consejos</h1>
    </div>
    <div class="subcontainer-consejo-descripcion">
        <p class="lang" key="consejoDos-10">
            Las persianas tambien se adaptan a cualquier ambiente otorgando calidez e imprimiendo un sello único.
        </p>
        <p class="lang" key="consejoDos-11">
            La combinación perfecta entre una clasica persiana horizontal y la belleza natural de una persiana de madera.
        </p>
        <p class="lang" key="consejoDos-12">
            Las persianas en madera son perfectas para complementar diseños campestres con las funciones modernas que requieren los usuarios.
        </p>
        <p class="lang" key="consejoDos-13">
            Manufacturadas con maderas tratadas y terminaciones que combinaran perfectamente con el diseño de su hogar.
        </p>
        <p class="lang" key="consejoDos-14">
            Elija las persianas en madera para estudios, oficinas y balcones de estilo clásico
        </p>
        <p class="lang" key="consejoDos-15">
            Combinan la belleza de la madera natural con la versatilidad del control de la luz.
        </p>
    </div>
</div>

<script>
    var arrLang = {
        'es': {
            'conocenos-1': 'Nosotros',
            'conocenos-2': 'Nosotros nos dedicamos a trabajar la madera y convertirla en obra de arte, tenemos más de 17 años en el mercado con la fabricación de Shutter de la mejor calidad, mostrando los espacios en elegancia y comodidad en su hogar.',
            'conocenos-3': 'Valores',
            'conocenos-4': 'Orientación al cliente, integridad, competitividad, creatividad, compromiso, liderazgo, responsabilidad, calidad, pasión, honestidad, actitud de servicio, trabajo en equipo.',
            'conocenos-5': 'Misión',
            'conocenos-6': 'Atender al cliente perfectamente con la máxima calidad de trato y una adecuada asesoría en la decoración de interiores para lograr la satisfacción total.',
            'conocenos-7': 'Visión',
            'conocenos-8': 'Ser una empresa líder y en continuo crecimiento de soluciones de decoración que se distinga por ofrecer los mejores y más innovadores productos de la mejor calidad.',
            'consejoDos-9': 'Algunos de nuestros Consejos',
            'consejoDos-10': 'Las persianas tambien se adaptan a cualquier ambiente otorgando calidez e imprimiendo un sello único.',
            'consejoDos-11': 'La combinación perfecta entre una clasica persiana horizontal y la belleza natural de una persiana de madera.',
            'consejoDos-12': 'Las persianas en madera son perfectas para complementar diseños campestres con las funciones modernas que requieren los usuarios.',
            'consejoDos-13': 'Manufacturadas con maderas tratadas y terminaciones que combinaran perfectamente con el diseño de su hogar.',
            'consejoDos-14': 'Elija las persianas en madera para estudios, oficinas y balcones de estilo clásico',
            'consejoDos-15': 'Combinan la belleza de la madera natural con la versatilidad del control de la luz.',
            'consejoUno-16': 'Algunos de nuestros Consejos',
            'consejoUno-17': 'Las persianas forman parte de los complementos interiores del hogar que, además de tamizar la luz natural, son protagonistas en el aislamiento térmico de la vivienda. Por ello, a la hora de elegir algún modelo o material, además de considerar la estética también es recomendable pensar en la eficacia y durabilidad',
            'consejoUno-18': 'Actualmente en el mercado podemos encontrar un gran surtido de modelos, calidades y materiales en persianas. Los sistemas de apertura y cierre son variados, las hay desde muy económicas hasta los más sofisticados sistemas automatizados, que se adaptan a todos los bolsillos y estilos de decoración.',
            'consejoUno-19': 'Antes de comprar una persiana, el primer paso es obtener la medida exacta, cuando la ventana ocupa toda el área, los números deben ser exactos de pared a pared, mientras que si se sitúa al centro de la habitación se recomienda añadir 10 centímetros por lado (izquierda, derecha y parte inferior) para que resulte sobrada.',
            'contactanos-20': 'Direccion:',
            'contactanos-21': 'Blvrd Federico Benítez López 15241, Los Españoles, 22104 Tijuana, B.C.',
            'contactanos-22': 'Nombre del contacto: ',
            'contactanos-23': 'Luis Talamantes',
            'contactanos-24': 'Numeros de contacto: ',
            'contactanos-25': 'Cel: 664 437-94-23',
            'contactanos-26': 'Oficina: 104-53-75',
            'contactanos-27': 'Correo electronico: ',
            'contactanos-28': 'shutterluistalamantes@hotmail.com',
            'contactanos-29': 'Redes sociales: ',
            'footer-30': 'Wesstwood Shutters',
            'footer-31': 'Nosotros nos dedicamos a trabajar la madera y convertirla en obra de arte, tenemos más de 17 años en el mercado con la fabricación de Shutter de la mejor calidad, mostrando los espacios en elegancia y comodidad en su hogar.',
            'footer-32': 'Productos',
            'footer-33': 'Shutter corrediza',
            'footer-34': 'Shutter standar',
            'footer-35': 'Shutter puerta francesa',
            'footer-36': 'Shutter arco',
            'footer-37': 'Enlaces',
            'footer-38': 'Nosotros',
            'footer-39': 'Galeria',
            'footer-40': 'Shutter corrediza',
            'footer-41': 'Tipos de shutter',
            'footer-42': 'Contactanos',
            'footer-43': 'Contactanos',
            'footer-44': 'Blvrd Federico Benítez López 15241, Los Españoles, 22104 Tijuana, B.C.',
            'footer-45': 'luis.talamantes@WWShutter.com.mx',
            'footer-46': 'Oficina. (664) 104-53-75',
            'footer-47': 'Cel. (044) 664 194 72 04',
            'footer-48': '© 2019 Copyright: Westwood Shutters',
            'galeria-1-49': 'Bienvenido a la seccion de galeria ',
            'galeria-1-50': 'Busca el producto de tu preferencia',
            'galeria-2-51': 'Bienvenido a la seccion de galeria ',
            'galeria-2-52': 'Busca el producto de tu preferencia',
            'galeria-3-53': 'Bienvenido a la seccion de galeria ',
            'galeria-3-54': 'Busca el producto de tu preferencia',
            'galeria-4-55': 'Bienvenido a la seccion de galeria ',
            'galeria-4-56': 'Busca el producto de tu preferencia',
            'galeria-5-57': 'Bienvenido a la seccion de galeria ',
            'galeria-5-58': 'Busca el producto de tu preferencia',
            'galeria-6-59': 'Bienvenido a la seccion de galeria ',
            'galeria-6-60': 'Busca el producto de tu preferencia',
            'galeria-7-61': 'Bienvenido a la seccion de galeria ',
            'galeria-7-62': 'Busca el producto de tu preferencia',
            'galeria-8-63': 'Bienvenido a la seccion de galeria ',
            'galeria-8-64': 'Busca el producto de tu preferencia',
            'galeria-9-65': 'Bienvenido a la seccion de galeria ',
            'galeria-9-66': 'Busca el producto de tu preferencia',
            'galeria-10-67': 'Bienvenido a la seccion de galeria ',
            'galeria-10-68': 'Busca el producto de tu preferencia',
            'galeria-11-69': 'Bienvenido a la seccion de galeria ',
            'galeria-11-70': 'Busca el producto de tu preferencia',
            'galeria-12-71': 'Bienvenido a la seccion de galeria ',
            'galeria-12-72': 'Busca el producto de tu preferencia',
            'galeria-13-73': 'Bienvenido a la seccion de galeria ',
            'galeria-13-74': 'Busca el producto de tu preferencia',
            'galeria-14-75': 'Bienvenido a la seccion de galeria ',
            'galeria-14-76': 'Busca el producto de tu preferencia',
            'header-77': 'Luis Talamantes (664) 437-94-23',
            'header-78': 'Inicio',
            'header-79': 'Nosotros',
            'header-80': 'Conocenos',
            'header-81': 'Nuestro equipo',
            'header-82': 'Galeria',
            'header-83': 'Tipos de shutter',
            'header-84': 'Shutter corrediza',
            'header-85': 'Shutter estandard',
            'header-86': 'Shutter puerta francesa',
            'header-87': 'Shutter arco',
            'header-88': 'Consejos',
            'header-89': 'Consejo uno',
            'header-90': 'Consejo dos',
            'header-91': 'Contactanos',
            'header-92': 'ESPAÑOL',
            'header-93': 'INGLES',
            'index-94': 'CORREDIZA',
            'index-95': 'ARCO',
            'index-96': 'STANDARD',
            'index-97': 'PUERTA FRANCESA',
            'index-98': 'STANDARD',
            'nuestroEquipo-99': 'Nuestra gente',
            'nuestroEquipo-100': 'Valoramos un equipo de trabajo que comparta la misión, visión y objetivos de nuestra empresa que genere lazos estables basados en la confianza y la seguridad.',
            'nuestroEquipo-101': 'Lealtad',
            'nuestroEquipo-102': 'Valoramos el comportamiento ético de nuestra gente y buscamos se sientan parte de un equipo que se fortalece día con día generando credibilidad en nuestros clientes.',
            'nuestroEquipo-103': 'Respeto',
            'nuestroEquipo-104': 'Promovemos la cortesía y cordialidad de nuestro equipo de trabajo con nuestros clientes.',
            'nuestroEquipo-105': 'Compromiso',
            'nuestroEquipo-106': 'Empresa de fabricacion de shutters. Enfocamos nuestros esfuerzos para el cumplimiento de nuestras metas, siendo perseverantes, fomentando la motivación de nuestro equipo para lograr un ambiente adecuado de trabajo que permita satisfacer las necesidades de nuestros clientes.',
            'shutterCorrediza-107': 'Shutter de arco',
            'shutterCorrediza-108': ' Los Shutters en Arco pueden ser en Forma de Archo perfecto o bien en forma de arco irregular. En ambos casos se requieren plantillas para su elaboración. Por lo regular los Shutters de Arco son por lo regular son en forma fijos, pero existen Shutters         de Arco que suelen tener la forma de Arco en el panel y suelen ser abatibles. Existen Diferentes Marcos de Madera para resaltar la vista al gusto de sus necesidades y una variedad de colores.',
            'shutterCorrediza-109': 'Shutter Corrediza',
            'shutterCorrediza-110': 'Los shutter de puertas corredizas tienen la ventaja de ser muy funcionales y practicas.',
            'shutterCorrediza-111': 'Los Shutters de Puertas Corredizas son muy utilizadas en diferentes principalmente en puertas ventana, y en areas como ventanas anchas que se desea tener este tipo de funcionalidad.',
            'shutterCorrediza-112': 'Existen Diferentes Marcos de Madera para resaltar la vista al gusto de sus necesidades y una variedad de colores.',
            'shutterCorrediza-113': 'Una excelente opción cuando se desea cubrir ventanas anchas; así como dividir áreas, para formar ambientes de privacidad. Se integra por una serie de lienzos traslapados que se deslizan con la ayuda de un versátil sistema a base de cordón de altura constante, o por medio de control remoto cuando la requieran en forma motorizada.',
            'shutterEstandard-114': 'Shutter Estandar',
            'shutterEstandard-115': 'Los shutters de puerta abatible son ideales para anchos de ventanas pequeños. son muy funcionales debido que que los paneles se abren hacia adentro de la habitacion, y ademas tienen un baston que controla la luz eficientemente.',
            'shutterEstandard-116': 'La Selección de Shutters de Madera en los ventanales en la casa provee más que una buena vista: genera valor y otros beneficios al inmueble. Los Shutters de Madera proveen Aislamiento acústico y térmico, y por lo tanto ahorro de energía en el hogar, y por su elegancia y belleza, Los Shutters de Madera son la Elección Correcta para el recubrimiento de ventanas.',
            'shutterPuertaFrancesa-117': 'Shutter Puerta Francesa',
            'shutterPuertaFrancesa-118': 'Los shutters de puerta francesa son ideales y prácticos y bellos por su amplia decoración.',
            'shutterPuertaFrancesa-119': 'Los shutters de puerta francesa son muy funcionales debido que este tipo de puertas brindan acceso a areas como el jardin y otros usos que se le desee dar',
            'shutterPuertaFrancesa-120': 'Los shutters de puerta francesa son muy utilizados en diferentes áreas de la casa u oficina.',
            'shutterPuertaFrancesa-121': 'Existen diferentes marcos de madera para resaltar la vista al gusto de sus necesidades y una variedad de colores.'
        },

        'en': {
            'conocenos-1': 'Our',
            'conocenos-2': 'Our are dedicated to woodworking and turn it into a work of art, Our have more than 17 years in the market with the manufacture of Shutter of the best quality, showing the spaces in elegance and comfort in your home.',
            'conocenos-3': 'Values',
            'conocenos-4': 'Client orientation, integrity, competitiveness, creativity, commitment, leadership, responsibility, quality, passion, honesty, service attitude, teamwork.',
            'conocenos-5': 'Mission',
            'conocenos-6': 'To take care of the client perfectly with the maximum quality of treatment and an adequate advice in interior decoration to achieve total satisfaction.',
            'conocenos-7': 'Vision',
            'conocenos-8': 'To be a leading company and in continuous growth of decoration solutions that stands out for offering the best and most innovative products of the best quality.',
            'consejoDos-9': 'Some of our Councils',
            'consejoDos-10': 'The blinds also adapt to any environment giving warmth and printing a unique stamp.',
            'consejoDos-11': 'The perfect combination between a classic horizontal blind and the natural beauty of a wooden blind.',
            'consejoDos-12': 'Wood blinds are perfect for complementing country designs with the modern features required by users.',
            'consejoDos-13': 'Manufactured with treated woods and finishes that perfectly match the design of your home.',
            'consejoDos-14': 'Choose blinds in wood for studios, offices and balconies of classic style',
            'consejoDos-15': 'They combine the beauty of natural wood with the versatility of light control.',
            'consejoUno-16': 'Some of our Councils',
            'consejoUno-17': 'The blinds are part of the interior accessories of the home that, in addition to sifting natural light, are protagonists in the thermal insulation of the house. Therefore, when choosing a model or material, in addition to considering the aesthetic is also advisable to think about the effectiveness and durability ',
            'consejoUno-18': 'Currently in the market Our can find a large assortment of models, qualities and materials in blinds. The opening and closing systems are varied, from very economic to the most sophisticated automated systems, which adapt to all pockets and styles of decoration.',
            'consejoUno-19': 'Before buying a blind, the first step is to obtain the exact measurement, when the window occupies the whole area, the numbers must be exact from wall to wall, while if it is placed at the center of the room it is recommended to add 10 centimeters for side (left, right and bottom) to be left over. ',
            'contactanos-20': 'Address:',
            'contactanos-21': 'Blvrd Federico Benítez López 15241, Los Españoles, 22104 Tijuana, B.C.',
            'contactanos-22': 'Contact name: ',
            'contactanos-23': 'Luis Talamantes',
            'contactanos-24': 'Contact numbers:',
            'contactanos-25': 'Cel: 664 437-94-23',
            'contactanos-26': 'Office: 104-53-75',
            'contactanos-27': 'Email: ',
            'contactanos-28': 'shutterluistalamantes@hotmail.com',
            'contactanos-29': 'Social networks: ',
            'footer-30': 'Wesstwood Shutters',
            'footer-31': 'Our are dedicated to woodworking and turn it into a work of art, Our have more than 17 years in the market with the manufacture of Shutter of the best quality, showing the spaces in elegance and comfort in your home.',
            'footer-32': 'Products',
            'footer-33': 'Shutter sliding',
            'footer-34': 'Shutter standard',
            'footer-35': 'Shutter French door',
            'footer-36': 'Shutter arch',
            'footer-37': 'Links',
            'footer-38': 'Our',
            'footer-39': 'Gallery',
            'footer-40': 'Shutter sliding',
            'footer-41': 'Types of shutter',
            'footer-42': 'Contact us',
            'footer-43': 'Contact us',
            'footer-44': 'Blvrd Federico Benítez López 15241, Los Españoles, 22104 Tijuana, B.C.',
            'footer-45': 'luis.talamantes@WWShutter.com.mx',
            'footer-46': 'Office. (664) 104-53-75 ',
            'footer-47': 'Cel. (044) 664 194 72 04 ',
            'footer-48': '© 2019 Copyright: Westwood Shutters',
            'galeria-1-49': 'Welcome to the gallery section',
            'galeria-1-50': 'Find the product of your choice',
            'galeria-2-51': 'Welcome to the gallery section',
            'galeria-2-52': 'Find the product of your choice',
            'galeria-3-53': 'Welcome to the gallery section',
            'galeria-3-54': 'Find the product of your choice',
            'galeria-4-55': 'Welcome to the gallery section',
            'galeria-4-56': 'Find the product of your choice',
            'galeria-5-57': 'Welcome to the gallery section',
            'galeria-5-58': 'Find the product of your choice',
            'galeria-6-59': 'Welcome to the gallery section',
            'galeria-6-60': 'Find the product of your choice',
            'galeria-7-61': 'Welcome to the gallery section',
            'galeria-7-62': 'Find the product of your choice',
            'galeria-8-63': 'Welcome to the gallery section',
            'galeria-8-64': 'Find the product of your choice',
            'galeria-9-65': 'Welcome to the gallery section',
            'galeria-9-66': 'Find the product of your choice',
            'galeria-10-67': 'Welcome to the gallery section',
            'galeria-10-68': 'Find the product of your choice',
            'galeria-11-69': 'Welcome to the gallery section',
            'galeria-11-70': 'Find the product of your choice',
            'galeria-12-71': 'Welcome to the gallery section',
            'galeria-12-72': 'Find the product of your choice',
            'galeria-13-73': 'Welcome to the gallery section',
            'galeria-13-74': 'Find the product of your choice',
            'galeria-14-75': 'Welcome to the gallery section',
            'galeria-14-76': 'Find the product of your choice',
            'header-77': 'Luis Talamantes (664) 437-94-23',
            'header-78': 'Home',
            'header-79': 'About us',
            'header-80': 'Our are',
            'header-81': 'Our team',
            'header-82': 'Gallery',
            'header-83': 'Types of shutter',
            'header-84': 'Shutter sliding',
            'header-85': 'Shutter standard',
            'header-86': 'Shutter French door',
            'header-87': 'Shutter arch',
            'header-88': 'Tips',
            'header-89': 'Tip one',
            'header-90': 'Tip two',
            'header-91': 'Contactanos',
            'header-92': 'SPANISH',
            'header-93': 'ENGLISH',
            'index-94': 'SLINDING',
            'index-95': 'ARCH',
            'index-96': 'STANDARD',
            'index-97': 'FRENCH DOOR',
            'index-98': 'STANDARD',
            'nuestroEquipo-99': 'Our people',
            'nuestroEquipo-100': 'Our value a team that shares the mission, vision and objectives of our company that generates stable bonds based on trust and security.',
            'nuestroEquipo-101': 'Loyalty',
            'nuestroEquipo-102': 'Our value the ethical behavior of our people and Our seek to be part of a team that is strengthened day by day generating credibility in our clients.',
            'nuestroEquipo-103': 'Respect',
            'nuestroEquipo-104': 'Our promote the courtesy and cordiality of our work team with our clients.',
            'nuestroEquipo-105': 'Commitment',
            'nuestroEquipo-106': 'Company of manufacture of shutters. Our focus our efforts to achieve our goals, being perseverant, encouraging the motivation of our team to achieve an adequate work environment that allows us to satisfy the needs of our clients. ',
            'shutterCorrediza-107': 'Arch shutter',
            'shutterCorrediza-108': 'Arch Shutters can be in the form of a perfect Archo or in the form of an irregular arch. In both cases templates are required for its preparation. Usually the Arch Shutters are usually fixed, but there are Arch Shutters that usually have the shape of an Arch in the panel and are usually collapsible. There are different wooden frames to highlight the view to the taste of your needs and a variety of colors. ',
            'shutterCorrediza-109': 'Shutter Sliding',
            'shutterCorrediza-110': 'The sliding shutters have the advantage of being very functional and practical.',
            'shutterCorrediza-111': 'Sliding Door Shutters are widely used in different areas, mainly in window doors, and in areas such as wide windows that want to have this kind of functionality.',
            'shutterCorrediza-112': 'There are different wooden frames to highlight the view to the taste of your needs and a variety of colors.',
            'shutterCorrediza-113': 'An excellent option when you want to cover wide windows; as well as dividing areas, to form privacy environments. It is integrated by a series of overlapping canvases that slide with the help of a versatile system based on constant height cord, or by means of remote control when required in a motorized way.',
            'shutterEstandard-114': 'Standard Shutter',
            'shutterEstandard-115': 'The swing door shutters are ideal for small window widths. they are very functional because the panels open into the room, and they also have a light-controlling rod efficiently. ',
            'shutterEstandard-116': 'The Selection of Wooden Shutters in the windows of the house provides more than a good view: it generates value and other benefits to the property. Wood Shutters provide acoustic and thermal insulation, and therefore saving energy in the home, and for its elegance and beauty, wood shutters are the right choice for window covering.',
            'shutterPuertaFrancesa-117': 'Shutter French Door',
            'shutterPuertaFrancesa-118': 'French door shutters are ideal and practical and beautiful for their wide decoration.',
            'shutterPuertaFrancesa-119': 'The French door shutters are very functional because this type of doors provide access to areas such as the garden and other uses that you want to give',
            'shutterPuertaFrancesa-120': 'French door shutters are widely used in different areas of the house or office.',
            'shutterPuertaFrancesa-121': 'There are different wooden frames to highlight the view to the taste of your needs and a variety of colors.'
        }

    };

    $(function() {
        $('.translate').click(function() {
            var lang = $(this).attr('id');
            $('.lang').each(function(index, element) {
                $(this).text(arrLang[lang][$(this).attr('key')]);
            });
        });
    });
</script>