<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_consejoDos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_consejoDos.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_consejoDos.css">

<div class="subcontainer-consejo">
    <div class="subcontainer-consejo-titulo">
        <h1>Algunos de nuestros Consejos</h1>
    </div>
    <div class="subcontainer-consejo-descripcion">
        <p>
            Las persianas tambien se adaptan a cualquier ambiente otorgando calidez e imprimiendo un sello único.
        </p>
        <p>
            La combinación perfecta entre una clasica persiana horizontal y la belleza natural de una persiana de madera.
        </p>
        <p>
            Las persianas en madera son perfectas para complementar diseños campestres con las funciones modernas que requieren los usuarios.
        </p>
        <p>
            Manufacturadas con maderas tratadas y terminaciones que combinaran perfectamente con el diseño de su hogar. 
        </p>
        <p>
            Elija las persianas en madera para estudios, oficinas y balcones de estilo clásico 
        </p>
        <p>
            Combinan la belleza de la madera natural con la versatilidad del control de la luz. 
        </p>
    </div>
</div>