<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_contactanos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_contactanos.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_contactanos.css">

<h1 class="titulo d-flex justify-content-center">ERROR: 404 Modulo contactanos en construccion</h1>
<div class="img d-flex justify-content-center align-items-center">
    <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
</div>

<!-- <div class="container-contactanos">
    <div class="container-contactanos-informacion">
        <h4>Oficina: (664) 104-53-75</h4>
        <h4>Cel. (044) - 664 - 194-72-04</h4>
        <h4>Cel. Americano (619) 386-12-92 </h4>
        <h4>E-mail: shutterluistalamantes@hotmail.com </h4>
        <h4>Direccion: Blvd. Federico Benites #204-B Col. Los Españoles, Tijuana,B.C Nombre: Westwood Shutter Mexico</h4>
        <h4>Nombre del contacto: Luis Talamantes A. </h4>
    </div>
    <div class="container-contactanos-mapa d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.6657377167817!2d-116.97265558482476!3d32.50836208105388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d947f62d442d71%3A0x328d3179112cdfb1!2swestwood+shutter!5e0!3m2!1ses-419!2smx!4v1554325584504!5m2!1ses-419!2smx"
            width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div> -->