<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_contactanos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_contactanos.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_contactanos.css">

<div class="subcontainer-contactanos">
    <div class="subcontainer-contactanos-direccion">
        <div class="subcontainer-contactanos-direccion-texto">
            <h1>Direccion: </h1>
            <p>Blvrd Federico Benítez López 15241, Los Españoles, 22104 Tijuana, B.C.</p>
        </div>
        <div class="subcontainer-contactanos-direccion-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.6655684162047!2d-116.97265558519551!3d32.50836660494271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d947f62d442d71%3A0x71aa7ef3aae5d3a!2sBlvrd+Federico+Ben%C3%ADtez+L%C3%B3pez+15241%2C+Los+Espa%C3%B1oles%2C+22104+Tijuana%2C+B.C.!5e0!3m2!1ses-419!2smx!4v1554908612938!5m2!1ses-419!2smx" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        
    </div>
    <div class="subcontainer-contactanos-informacion">
        <div class="subcontainer-contactanos-informacion-nombre">
            <h2>Nombre del contacto: </h2>
            <p>Luis Talamantes</p>
        </div>
        <div class="subcontainer-contactanos-informacion-telefono">
            <h2>Numeros de contacto: </h2>
            <p>Cel: 664 437-94-23</p>
            <p>Oficina: 104-53-75 </p>
        </div>
        <div class="subcontainer-contactanos-informacion-email">
            <h2>Correo electronico: </h2>
            <p>shutterluistalamantes@hotmail.com</p>
        </div>
        <div class="subcontainer-contactanos-informacion-redes">
            <h2>Redes sociales: </h2>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</div>