<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_footer.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_footer.css">

<h1 class="d-flex justify-content-center align-items-center">Footer in development<i class="fa fa-home"></i></h1>