<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_footer.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_footer.css">

<!-- <h1>Este es el footer</h1> -->