<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_footer.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_footer.css">

<div class="container-company">
    <h2><i class="fas fa-check-double"></i>Wesstwood Shutter's</h2>
    <p>Nosotros nos dedicamos a trabajar la madera y convertirla en obra de arte, tenemos más de 17 años en el mercado con la fabricación de Shutter de la mejor calidad, mostrando los espacios en elegancia y comodidad en su hogar. </p>
</div>

<div class="container-product">
    <h2><i class="fas fa-check-double"></i>Products</h2>
    <p>Sliding shutter</p>
    <p>Standard shutter</p>
    <p>French shutter door</p>
    <p>Arch shutter</p>
</div>

<div class="container-links">
    <h2><i class="fas fa-check-double"></i>Links</h2>
    <a href="conocenos">About us</a>
    <br>
    <a href="galeria">Gallery</a>
    <br>
    <a href="shutterCorrediza">Sliding shutter</a>
    <br>
    <a href="shutterEstandar">Estandard shutter</a>
    <br>
    <a href="contactanos">Contact us</a>
</div>

<div class="container-contact">
    <h2><i class="fas fa-check-double"></i>Contact</h2>
    <p>Blvrd Federico Benítez López 15241, Los Españoles, 22104 Tijuana, B.C.</p>
    <p>luis.talamantes@WWShutter.com.mx</p>
    <p>Oficina. (664) 104-53-75</p>
    <p>Cel. (044) 664 194 72 04</p>
</div>

<div class="container-linea">
    <hr>
</div>

<div class="container-copyRight">
    <h2>© 2018 Copyright: WW-Shutter</h2>
</div>

<div class="container-facebook">
    <i class="fab fa-facebook fa-2x"></i>
</div>

<div class="container-instagram">
    <i class="fab fa-instagram fa-2x"></i>
</div>

<!-- <div class="container-twitter">
    <i class="fab fa-twitter fa-2x"></i>
</div> -->