<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_footer.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_footer.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_footer.css">

<div class="container-company">
    <h2 class="lang" key="footer-30"><i class="fas fa-check-double"></i>Wesstwood Shutters</h2>
    <p class="lang" key="footer-31">Nosotros nos dedicamos a trabajar la madera y convertirla en obra de arte, tenemos más de 19 años en el mercado con la fabricación de Shutter de la mejor calidad, mostrando los espacios en elegancia y comodidad en su hogar. </p>
</div>

<div class="container-product">
    <h2 class="lang" key="footer-32"><i class="fas fa-check-double"></i>Products</h2>
    <p class="lang" key="footer-33">Shutter corrediza</p>
    <p class="lang" key="footer-34">Shutter standar</p>
    <p class="lang" key="footer-35">Shutter puerta francesa</p>
    <p class="lang" key="footer-36">Shutter arco</p>
</div>

<div class="container-links">
    <h2 class="lang" key="footer-37"><i class="fas fa-check-double"></i>Enlaces</h2>
    <a href="/conocenos" class="lang" key="footer-38">Nosotros</a>
    <br>
    <a href="/galeria" class="lang" key="footer-39">Galeria</a>
    <br>
    <a href="/shutter/Corrediza" class="lang" key="footer-40">Shutter corrediza</a>
    <br>
    <a href="/shutter/Estandar" class="lang" key="footer-41">Tipos de shutter</a>
    <br>
    <a href="../contactanos" class="lang" key="footer-42">Contactanos</a>
</div>

<div class="container-contact">
    <h2 class="lang" key="footer-43"><i class="fas fa-check-double"></i>Contactanos</h2>
    <p class="lang" key="footer-44">Blvd.Federico Benitez No.204-B Col.Los Españoles,Tijuana,B.C.</p>
    <p class="lang" key="footer-45">luis.talamantes@WWShutter.com.mx</p>
    <p class="lang" key="footer-46">Oficina. (664) 104-53-75</p>
    <p class="lang" key="footer-47">Cel. (044) 664 194 72 04</p>
</div>

<div class="container-linea">
    <hr>
</div>

<div class="container-copyRight">
    <h2 class="lang" key="footer-48">© 2019 Copyright: Westwood Shutters</h2>
</div>

<div class="container-facebook">
    <a href="https://www.facebook.com/Westwood-shutter-mexico-255236318000894/" target="_blank"><i class="fab fa-facebook"></i></a>
</div>

<div class="container-instagram">
    <a href="https://www.facebook.com/Westwood-shutter-mexico-255236318000894/" target="_blank"><i class="fab fa-instagram"></i></a>
</div>

<div class="container-mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.6655684162047!2d-116.97265558519551!3d32.50836660494271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d947f62d442d71%3A0x71aa7ef3aae5d3a!2sBlvrd+Federico+Ben%C3%ADtez+L%C3%B3pez+15241%2C+Los+Espa%C3%B1oles%2C+22104+Tijuana%2C+B.C.!5e0!3m2!1ses-419!2smx!4v1554908612938!5m2!1ses-419!2smx"
        width="300" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>