<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_galeria.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_galeria.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_galeria.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

<div class="gallery-container">
    <h1 class="text-center lang" key="galeria-4-55">Bienvenido a la seccion de galeria<i class="fas fa-camera"></i></h1>
    <p class="page-description text-center lang" key="galeria-4-56">Busca el producto de tu preferencia</p>
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card ">
                    <a class="lightbox " href="/media/Imagenes/gallery/28.jpeg">
                        <img src="/media/Imagenes/gallery/28.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/29.jpeg">
                        <img src="/media/Imagenes/gallery/29.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/30.jpeg">
                        <img src="/media/Imagenes/gallery/30.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/31.jpeg">
                        <img src="/media/Imagenes/gallery/31.jpeg" height="300px" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/32.jpeg">
                        <img src="/media/Imagenes/gallery/32.jpeg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/33.jpeg">
                        <img src="/media/Imagenes/gallery/33.jpeg" width="50px" height="350px" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/34.jpeg">
                        <img src="/media/Imagenes/gallery/34.jpeg" height="400px" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/35.jpeg">
                        <img src="/media/Imagenes/gallery/35.jpeg" height="400px" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="/media/Imagenes/gallery/36.jpeg">
                        <img src="/media/Imagenes/gallery/36.jpeg" width="50px" height="430vh" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- NUM OF PAGES -->
<div class="pagination">

    <a href="galeria-1">1</a>
    <a href="galeria-2">2</a>
    <a href="galeria-3">3</a>
    <a href="galeria-4" class="active">4</a>
    <a href="galeria-5">5</a>
    <a href="galeria-6">6</a>
    <a href="galeria-7">7</a>
    <a href="galeria-8">8</a>
    <a href="galeria-9">9</a>
    <a href="galeria-10">10</a>
    <a href="galeria-11">11</a>
    <a href="galeria-12">12</a>
    <a href="galeria-13">13</a>
    <a href="galeria-14">14</a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>