<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_galeria.css">
<!-- <link rel="stylesheet" href="/styles/Design/css/gallery-grid.css"> -->
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_galeria.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="">
<div class="container-galeria">

    <br>
    <br>
    <div class="container gallery-container">

        <h1 class="text-center">Welcome to the gallery section<i class="fas fa-camera"></i></h1>
        <p class="page-description text-center">Browse through some of our latests products</p>

        <p class="page-description text-center"></p>

        <div class="tz-gallery">

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="card ">
                        <a class="lightbox " href="/media/Imagenes/bg-shutters1edit.png">
                            <img src="/media/Imagenes/bg-shutters1edit.png" alt="Park" class="card-img-top">

                        </a>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters2edit.png">
                            <img src="/media/Imagenes/bg-shutters2edit.png" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters3edit.png">
                            <img src="/media/Imagenes/bg-shutters3edit.png" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters4edit.png">
                            <img src="/media/Imagenes/bg-shutters4edit.png" height="300px" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters5edit.png">
                            <img src="/media/Imagenes/bg-shutters5edit.png" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters6.jpeg">
                            <img src="/media/Imagenes/bg-shutters6.jpeg" width="50px" height="350px" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters7.jpeg">
                            <img src="/media/Imagenes/bg-shutters7.jpeg" height="400px" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters8.jpeg">
                            <img src="/media/Imagenes/bg-shutters8.jpeg" height="400px" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <a class="lightbox" href="/media/Imagenes/bg-shutters9.jpeg">
                            <img src="/media/Imagenes/bg-shutters9.jpeg" width="50px" height="430vh" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- NUM OF PAGES -->
<div class="pagination">

    <a href="#">Prev</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">Next</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>