<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_galeria.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_galeria.css">

<div class="container-galeria">
    <br>
    <br>
    <h1 class="d-flex justify-content-center">Modulo Galeria en construccion</h1>
    <div class="d-flex justify-content-center align-items-center">
        <img src=" /media/Imagenes/WebSiteInProgress/14.png " alt=" ">
    </div>
</div>