<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_header.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_header.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_header.css">

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/media/Imagenes/index/logo6-white2.png" width="50px" height="50px">
        </a>
        <p class="numcontact-txt">Luis Talamantes (664) 437-94-23</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- <li class="nav-item "></li>
                <a class="nav-link " href="conocenos">About us</a>
                </li> -->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " id="navbarDropdown " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                     Nosotros
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown ">
                        <a class="dropdown-item " href="/nosotros/conocenos">Conocenos</a>
                        <a class="dropdown-item " href="/nosotros/nuestroEquipo">Nuestro equipo</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../galeria">Gallery</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " id="navbarDropdown " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                     Types of shutters
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown ">
                        <a class="dropdown-item " href="/shutter/Corrediza">Sliding shutter</a>
                        <a class="dropdown-item " href="/shutter/Estandar">Standard shutter</a>
                        <a class="dropdown-item " href="/shutter/PuertaFrancesa">French shutter door</a>
                        <a class="dropdown-item " href="/shutter/Arco">Arch shutter</a>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " id="navbarDropdown " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                     Consejos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/consejos/consejo-1">Consejo uno</a>
                        <a class="dropdown-item" href="/consejos/consejo-2">Consejo dos</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="../contactanos">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">US<i class="fas fa-flag-usa"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">MEX<i class="fab fa-font-awesome-flag"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>