<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_header.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_header.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_header.css">
<!-- TRANSALATE -->
<script src="/js/translate/header.js"></script>
<!-- JQuery JS -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>


<!-- NAVIGATION BAR -->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/media/Imagenes/index/mayra-3.png" width="50px" height="50px">
        </a>
        <p class="numcontact-txt lang" key="header-77">Luis Talamantes (664) 437-94-23</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link  lang" key="header-78" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang" key="header-79" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Nosotros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item lang" key="header-80" href="/nosotros/conocenos">Conocenos</a>
                        <a class="dropdown-item lang" key="header-81" href="/nosotros/nuestroEquipo">Nuestro equipo</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link lang" key="header-82" href="/galeria-1">Galeria</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang" key="header-83" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tipos de shutter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item lang" key="header-84" href="/shutter/Corrediza">Shutter corrediza</a>
                        <a class="dropdown-item lang" key="header-85" href="/shutter/Estandard">Shutter estandard</a>
                        <a class="dropdown-item lang" key="header-86" href="/shutter/PuertaFrancesa">Shutter puerta francesa</a>
                        <a class="dropdown-item lang" key="header-87" href="/shutter/Arco">Shutter arco</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang" key="header-88" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Consejos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item lang" key="header-89" href="/consejos/consejo-1">Consejo uno</a>
                        <a class="dropdown-item lang" key="header-90" href="/consejos/consejo-2">Consejo dos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link lang" key="header-91" href="../contactanos">Contactanos</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-language"></i>
                </li>
                <li class="nav-item">
                    <button class="nav-link translate lang" key="header-92" id="es">MEX</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link translate lang" key="header-93" id="en">USA</button>
                </li>
            </ul>
        </div>
    </div>
</nav>