<!-- Design -->
<link rel="stylesheet" href="/Design/css/Design_index.css">
<!-- Layout -->
<link rel="stylesheet" href="/Layout/css/Layout_index.css">

<div class="contenedor-index">
    <h2 class="blue-text">CONTENEDOR INDEX</h2>
</div>