<!-- Design -->
<link rel="stylesheet" href="styles/Design/css/Design_index.css">
<!-- Layout -->
<link rel="stylesheet" href="styles/Layout/css/Layout_index.css">

<div class="contenedor-index">
    <div class="bg-img"></div>
    <div class="shutterstxt">Shutters</div>
    <div class="shadestxt">Shades</div>
    <div class="blindstxt">Blinds</div>
</div>