<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_nuestroEquipo.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_nuestroEquipo.css">
<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_nuestroEquipo.css">


<div class="subcontainer-nuestroEquipo">
    <!-- GRID GENTE -->
    <div class="subcontainer-nuestroEquipo-gente">
        <div class="subcontainer-nuestroEquipo-gente-img">
            <img src="/media/Imagenes/about-us/nuestroEquipo/nuestraGente-2.jpeg" alt="">
        </div>
        <div class="subcontainer-nuestroEquipo-gente-description">
            <h2 class="lang" key="nuestroEquipo-99">Nuestra gente</h2>
            <p class="lang" key="nuestroEquipo-100">Valoramos un equipo de trabajo que comparta la misión, visión y objetivos de nuestra empresa que genere lazos estables basados en la confianza y la seguridad.</p>
        </div>
    </div>
    <!-- GRID LEALTAD -->
    <div class="subcontainer-nuestroEquipo-lealtad">
        <div class="subcontainer-nuestroEquipo-lealtad-img">
            <img src="/media/Imagenes/about-us/nuestroEquipo/lealtad.jpg" alt="">
        </div>
        <div class="subcontainer-nuestroEquipo-lealtad-description">
            <h2 class="lang" key="nuestroEquipo-101">Lealtad </h2>
            <p class="lang" key="nuestroEquipo-102">Valoramos el comportamiento ético de nuestra gente y buscamos se sientan parte de un equipo que se fortalece día con día generando credibilidad en nuestros clientes.</p>
        </div>
    </div>
    <!-- GRID RESPETO -->
    <div class="subcontainer-nuestroEquipo-respeto">
        <div class="subcontainer-nuestroEquipo-respeto-img">
            <img src="/media/Imagenes/about-us/nuestroEquipo/respeto.jpg" alt="">
        </div>
        <div class="subcontainer-nuestroEquipo-respeto-description">
            <h2 class="lang" key="nuestroEquipo-103">Respeto</h2>
            <p class="lang" key="nuestroEquipo-104">Promovemos la cortesía y cordialidad de nuestro equipo de trabajo con nuestros clientes. </p>
        </div>
    </div>
    <!-- GRID COMPROMISO -->
    <div class="subcontainer-nuestroEquipo-compromiso">
        <div class="subcontainer-nuestroEquipo-compromiso-img">
            <img src="/media/Imagenes/about-us/nuestroEquipo/compromiso.jpg" alt="">
        </div>
        <div class="subcontainer-nuestroEquipo-compromiso-description">
            <h2 class="lang" key="nuestroEquipo-105">Compromiso</h2>
            <p class="lang" key="nuestroEquipo-106">
                Empresa de fabricacion de shutters. Enfocamos nuestros esfuerzos para el cumplimiento de nuestras metas, siendo perseverantes, fomentando la motivación de nuestro equipo para lograr un ambiente adecuado de trabajo que permita satisfacer las necesidades
                de nuestros clientes.
            </p>
        </div>
    </div>
</div>