<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_ShutterArco.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_ShutterArco.css">

<div class="container-shutterArco">
    <div class="texto">
        <h1>Shutter de arco o puerta para cantina</h1>
        <p>
            Los Shutters en Arco pueden ser en Forma de Archo perfecto o bien en forma de arco irregular. En ambos casos se requieren plantillas para su elaboración. Por lo regular los Shutters de Arco son por lo regular son en forma fijos, pero existen Shutters
            de Arco que suelen tener la forma de Arco en el panel y suelen ser abatibles.
        </p>
        <br>
        <p>
            Existen Diferentes Marcos de Madera para resaltar la vista al gusto de sus necesidades y una variedad de colores.
        </p>
    </div>
    <div class="images">
        <img src="/media/imagenes/types-of-shutters/Arch-shutter/shutterArco.jpg" alt="">
    </div>
</div>