<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterEstandar.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterEstandar.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_shutterEstandar.css">
<!-- TRANSALATE -->
<script src="/js/translate/header.js"></script>

<!--////////// CODIGO PARA INDICAR QUE LA PAGINA ESTA EN PROCESO DE CONSTRUCCION ////////////-->
<!-- <div class="container-conocenos">
    <br>
    <br>
    <h1 class="titulo d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="img d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div> -->


<div class="subcontainer-shutterEstandar">
    <div class="subcontainer-shutterEstandar-description">
        <h1 class="lang" key="shutterEstandard-114">Shutter Estandar</h1>
        <div class="subcontainer-shutterEstandar-description-text">
            <p class="lang" key="shutterEstandard-115">
                Los shutters de puerta abatible son ideales para anchos de ventanas pequeños. son muy funcionales debido que que los paneles se abren hacia adentro de la habitacion, y ademas tienen un baston que controla la luz eficientemente.
            </p>
            <p class="lang" key="shutterEstandard-116">
                La Selección de Shutters de Madera en los ventanales en la casa provee más que una buena vista: genera valor y otros beneficios al inmueble. Los Shutters de Madera proveen Aislamiento acústico y térmico, y por lo tanto ahorro de energía en el hogar, y
                por su elegancia y belleza, Los Shutters de Madera son la Elección Correcta para el recubrimiento de ventanas.
            </p>
        </div>
    </div>
    <div class="subcontainer-shutterEstandar-imagenes">
        <img src="/media/Imagenes/types-of-shutters/Standard-shutter/shutter-standar.jpg" alt="">
        <img src="/media/Imagenes/types-of-shutters/Standard-shutter/shutter-standar-2.jpg" alt="">
    </div>
</div>