<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_ShutterArco.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_ShutterArco.css">

<div class="container-conocenos">
    <br>
    <br>
    <h1 class="d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div>

<!-- <div class="container-shutterCorrediza">
    <div class="texto">
        <h1>Shutter Corrediza</h1>
        <p>
            Los SHUTTERS DE PUERTAS CORREDIZAS tienen la ventaja de ser muy funcionales y practicas.
        </p>
        <br>
        <p>
            Los Shutters de Puertas Corredizas son muy utilizadas en diferentes principalmente en puertas ventana, y en areas como ventanas anchas que se desea tener este tipo de funcionalidad.
        </p>
        <br>
        <p>
            Existen Diferentes Marcos de Madera para resaltar la vista al gusto de sus necesidades y una variedad de colores.
        </p>
        <br>
        <p>
            Una excelente opción cuando se desea cubrir ventanas anchas; así como dividir áreas, para formar ambientes de privacidad. Se integra por una serie de lienzos traslapados que se deslizan con la ayuda de un versátil sistema a base de cordón de altura constante,
            o por medio de control remoto cuando la requieran en forma motorizada.
        </p>
    </div>
    <div class="images ">
        <img src="/media/Imagenes/types-of-shutters/Sliding-shutter/corrrediza.jpg" alt="">
        <img src="/media/Imagenes/types-of-shutters/Sliding-shutter/corrrediza-2.jpg" alt="">
    </div>
</div> -->