<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterEstandar.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterEstandar.css">

<!--////////// CODIGO PARA INDICAR QUE LA PAGINA ESTA EN PROCESO DE CONSTRUCCION ////////////-->
<!-- <div class="container-conocenos">
    <br>
    <br>
    <h1 class="titulo d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="img d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div> -->

<div class="container-shutterEstandar">
    <h1>CONTENEDOR SHUTTER ESTANDAR</h1>
    <div class="subcontainer-shutterEstandar">
        <h1>SUB CONTENEDOR SHUTTER ESTANDAR</h1>
        <div class="subcontainer-shutterEstandar-description">
            <h1>SUB CONTENEDOR SHUTTER ESTANDAR DESCRIPCION</h1>
        </div>
        <div class="subcontainer-shutterEstandar-imagenes">
            <h1>SUB CONTENEDOR SHUTTER ESTANDAR IMAGENES</h1>
        </div>
    </div>
</div>