<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterPuertaFrancesa.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterPuertaFrancesa.css">

<div class="container-tipoShutters">
    <br>
    <br>
    <h1 class="d-flex justify-content-center">Modulo shutter's puerta francesa en construccion</h1>
    <div class="d-flex justify-content-center align-items-center">
        <img src="/media/imagenes/web-site-progress/14.png" alt="">
    </div>
</div>