<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterEstandar.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterEstandar.css">

<div class="container-shutterEstandar">
    <div class="texto">
        <h1>Shutter Estandar</h1>
        <p>
            LOS SHUTTERS DE PUERTA ABATIBLE son ideales para anchos de ventanas pequeños. son muy funcionales debido que que los paneles se abren hacia adentro de la habitacion, y ademas tienen un baston que controla la luz eficientemente.
        </p>
        <br>
        <p>
            La Selección de Shutters de Madera en los ventanales en la casa provee más que una buena vista: genera valor y otros beneficios al inmueble. Los Shutters de Madera proveen Aislamiento acústico y térmico, y por lo tanto ahorro de energía en el hogar, y
            por su elegancia y belleza, Los Shutters de Madera son la Elección Correcta para el recubrimiento de ventanas.
        </p>
    </div>
    <div class="images ">
        <img src="/media/Imagenes/types-of-shutters/Standard-shutter/shutter-standar.jpg" alt="">
        <img src="/media/Imagenes/types-of-shutters/Standard-shutter/shutter-standar-2.jpg" alt="">
    </div>
</div>