<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterPuertaFrancesa.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterPuertaFrancesa.css">

<div class="container-conocenos">
    <br>
    <br>
    <h1 class="titulo d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="img d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div>

<!-- <div class="container-shutterArco">
    <div class="texto">
        <h1>Shutter Puerta Francesa</h1>
        <p>
            LOS SHUTTERS DE PUERTA FRANCESA son ideales y prácticos y bellos por su amplia decoración. LOS SHUTTERS de Puerta Francesa son muy funcionales debido que este tipo de puertas brindan acceso a areas como el jardin y otros usos que se le desee dar.
        </p>
        <br>
        <p>
            Los Shutters de Puerta Francesa son muy utilizados en diferentes áreas de la casa u oficina. Existen Diferentes Marcos de Madera para resaltar la vista al gusto de sus necesidades y una variedad de colores.
        </p>
    </div>
    <div class="images ">
        <img src="/media/Imagenes/types-of-shutters/French-shutter-door/francesa-1.jpg" alt="">
        <img src="/media/Imagenes/types-of-shutters/French-shutter-door/francesa-2.jpg" alt="">
    </div>
</div> -->