<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterCorrediza.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterCorrediza.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_shutterCorrediza.css">

<!--////////// CODIGO PARA INDICAR QUE LA PAGINA ESTA EN PROCESO DE CONSTRUCCION ////////////-->
<!-- <div class="container-conocenos">
    <br>
    <br>
    <h1 class="titulo d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="img d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div> -->

<div class="subcontainer-shutterCorrediza">
    <div class="subcontainer-shutterCorrediza-description">
        <h1>Shutter Corrediza</h1>
        <h2>Los SHUTTERS DE PUERTAS CORREDIZAS tienen la ventaja de ser muy funcionales y practicas.</h2>
        <p>Los Shutters de Puertas Corredizas son muy utilizadas en diferentes principalmente en puertas ventana, y en areas como ventanas anchas que se desea tener este tipo de funcionalidad.</p>
        <br>
        <p>Existen Diferentes Marcos de Madera para resaltar la vista al gusto de sus necesidades y una variedad de colores.</p>
        <br>
        <p>
            Una excelente opción cuando se desea cubrir ventanas anchas; así como dividir áreas, para formar ambientes de privacidad. Se integra por una serie de lienzos traslapados que se deslizan con la ayuda de un versátil sistema a base de cordón de altura constante,
            o por medio de control remoto cuando la requieran en forma motorizada.
        </p>
    </div>
    <div class="subcontainer-shutterCorrediza-imagenes">
        <img src="/src/public/media/Imagenes/types-of-shutters/Sliding-shutter/corrrediza.jpg">
        <img src="/src/public/media/Imagenes/types-of-shutters/Sliding-shutter/corrrediza-2.jpg">
    </div>
</div>