<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterPuertaFrancesa.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterPuertaFrancesa.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_shutterPuertaFrancesa.css">

<!--////////// CODIGO PARA INDICAR QUE LA PAGINA ESTA EN PROCESO DE CONSTRUCCION ////////////-->
<!-- <div class="container-conocenos">
    <br>
    <br>
    <h1 class="titulo d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="img d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div> -->



<div class="subcontainer-shutterPuertaFrancesa">
    <div class="subcontainer-shutterPuertaFrancesa-description">
        <h1>Shutter Puerta Francesa</h1>
        <div class="subcontainer-shutterPuertaFrancesa-description-text">
            <p>Los shutters de puerta francesa son ideales y prácticos y bellos por su amplia decoración.</p>
            <p>Los shutters de puerta francesa son muy funcionales debido que este tipo de puertas brindan acceso a areas como el jardin y otros usos que se le desee dar</p>
            <p>Los shutters de puerta francesa son muy utilizados en diferentes áreas de la casa u oficina.</p>
            <p>Existen diferentes marcos de madera para resaltar la vista al gusto de sus necesidades y una variedad de colores. </p>
        </div>
    </div>
    <div class="subcontainer-shutterPuertaFrancesa-imagenes">
        <img src="/media/Imagenes/types-of-shutters/French-shutter-door/francesa-1.jpg" alt="">
        <img src="/media/Imagenes/types-of-shutters/French-shutter-door/francesa-2.jpg" alt="">
    </div>
</div>