<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_typeOfShutter.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_typeOfShutter.css">
<h2>Tipos de shutter</h2>