.grid-total-container {
  color: white; }
  .grid-total-container .subcontainer-shutterArco {
    display: block; }
    .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description h1 {
      font-size: 4vw;
      text-align: left; }
    .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description p {
      font-size: 2vw;
      text-align: justify; }
    .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-imagenes {
      justify-content: end;
      justify-items: end;
      justify-self: end;
      align-content: flex-end;
      align-items: flex-end;
      align-self: flex-end; }
      .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-imagenes img:nth-child(1) {
        display: block;
        width: 90%;
        height: auto; }
      .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-imagenes img:nth-child(2) {
        display: block;
        width: 100%;
        height: auto; }
