.subcontainer-contactanos {
  background: blueviolet; }
  .subcontainer-contactanos .subcontainer-contactanos-mapa {
    background: red; }
  .subcontainer-contactanos .subcontainer-contactanos-informacion {
    background: #444444; }
