.grid-total-container {
  background: red; }
  .grid-total-container h1 {
    justify-self: center;
    text-align: center; }
  .grid-total-container .subcontainer-shutterArco {
    background: blue; }
    .grid-total-container .subcontainer-shutterArco h1 {
      justify-self: center;
      text-align: center; }
    .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description {
      background: #22d892; }
      .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description h1 {
        align-self: center;
        justify-self: center;
        text-align: center; }
    .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-imagenes {
      background: #6bd822; }
      .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-imagenes h1 {
        align-self: center;
        justify-self: center;
        text-align: center; }
