.index {
    color: black;
}

.bg-img {
    position: relative;
    grid-row: 1/21;
    grid-column: 1/-1;
    width: 100%;
    background-image: url('/media/Imagenes/bg-shutters.jpg');
    height: 100%;
    background-size: cover;
}

.bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #c4c4c4, #000000);
    opacity: .6;
}

.shutterstxt {
    font-size: 1.5vw;
    z-index: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-column: 4/6;
    grid-row: 17/19;
}

.shadestxt {
    font-size: 1.5vw;
    z-index: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-column: 10/12;
    grid-row: 17/19;
}

.blindstxt {
    font-size: 1.5vw;
    z-index: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-column: 16/18;
    grid-row: 17/19;
}

.title {
    grid-row: 8/16;
    grid-column: 7/16;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    z-index: 1;
    color: white;
}

h1 {
    font-size: 3.2vw;
}