.grid-total-container {
  color: white; }
  .grid-total-container .subcontainer-conocenos {
    /*GRID GENTE*/
    /*GRID GENTE*/
    /*GRID GENTE*/
    /*GRID GENTE*/ }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-nosotros h2 {
      font-size: 2.5vw;
      text-align: left; }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-nosotros p {
      font-size: 1.7vw;
      text-align: justify; }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-valores h2 {
      font-size: 2.5vw;
      text-align: left; }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-valores p {
      font-size: 1.7vw;
      text-align: justify; }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-mision h2 {
      font-size: 2.5vw;
      text-align: left; }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-mision p {
      font-size: 1.7vw;
      text-align: justify; }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-vision h2 {
      font-size: 2.5vw;
      text-align: left; }
    .grid-total-container .subcontainer-conocenos .subcontainer-conocenos-vision p {
      font-size: 1.7vw;
      text-align: justify; }
