.grid-total-footer {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: #1e1e20;
  color: white; }

.container-company p {
  font-size: 1vw;
  text-align: justify; }

.container-company h2 {
  color: #ff7300;
  font-size: 1.7vw; }

.container-copyRight h2 {
  font-size: 1.7vw; }

.container-product h2 {
  color: #ff7300;
  font-size: 1.7vw; }

.container-product p {
  font-size: 1vw; }

.container-links h2 {
  color: #ff7300;
  font-size: 1.7vw; }

.container-links a {
  color: #585756;
  font-size: 1vw; }

.container-links a:hover {
  color: #8a8684;
  font-size: 1vw; }

.container-contact h2 {
  color: #ff7300;
  font-size: 1.7vw; }

.container-contact p {
  font-size: 1vw; }

i:hover {
  color: #ff4800; }

.container-mapa {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */ }

.container-mapa > * {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.container-facebook i {
  text-decoration: white;
  font-size: 2vw;
  color: white; }

.container-instagram i {
  text-decoration: white;
  font-size: 2vw;
  color: white; }
