.grid-total-container {
  background-image: url("/media/Imagenes/gallery-bgedit.png");
  color: white; }
  .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description h1 {
    text-align: left;
    font-size: 4vw; }
  .grid-total-container .subcontainer-shutterArco .subcontainer-shutterArco-description p {
    justify-self: center;
    text-align: justify;
    font-size: 2vw; }
  .grid-total-container .subcontainer-shutterArco-imagenes {
    justify-items: end; }
    .grid-total-container .subcontainer-shutterArco-imagenes img {
      display: block;
      width: 80%;
      height: auto;
      align-self: flex-start; }
