.tz-gallery .lightbox img {
  max-width: 100%;
  margin-bottom: 0px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.lightbox {
  background-color: transparent; }

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s; }

.tz-gallery {
  padding: 40px; }

.tz-gallery img {
  border-radius: 0px; }

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); }

.baguetteBox-button {
  background-color: transparent !important;
  height: auto; }

.gallery-container h1 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 2.5vw; }

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px; }

.card:hover {
  opacity: 1; }

.pagination {
  display: inline-block;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center; }

.pagination a {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: bold;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 3px solid #ddd; }

.pagination a.active {
  background-color: #e5ff00;
  color: white;
  border: 3px solid white; }

.pagination a:hover:not(.active) {
  background-color: #eb802a;
  color: black; }

@media (max-width: 768px) {
  body {
    padding: 0; }
    body .container-galeria * img {
      width: 50%;
      height: auto; }
  .container.gallery-container {
    border-radius: 0; } }

.container-galeria * img {
  width: 100%;
  height: auto; }
