.grid-total-container {
  color: white; }
  .grid-total-container .subcontainer-shutterEstandar .subcontainer-shutterEstandar-description h1 {
    text-align: left;
    font-size: 4vw; }
  .grid-total-container .subcontainer-shutterEstandar .subcontainer-shutterEstandar-description .subcontainer-shutterEstandar-description-text {
    justify-self: center;
    text-align: justify;
    font-size: 2vw; }
  .grid-total-container .subcontainer-shutterEstandar .subcontainer-shutterEstandar-imagenes {
    justify-items: end; }
    .grid-total-container .subcontainer-shutterEstandar .subcontainer-shutterEstandar-imagenes img:nth-child(1) {
      display: block;
      width: 70%;
      height: auto;
      align-self: flex-start; }
    .grid-total-container .subcontainer-shutterEstandar .subcontainer-shutterEstandar-imagenes img:nth-child(2) {
      display: block;
      width: 70%;
      height: auto;
      align-self: flex-end; }
