.grid-total-footer {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.container-company p {
  font-size: .9vw;
  text-align: justify; }

.container-company h2 {
  color: #ff7300;
  font-size: 1.2vw; }

.container-copyRight h2 {
  font-size: 1.2vw; }

.container-product h2 {
  color: #ff7300;
  font-size: 1.2vw; }

.container-product p {
  font-size: .9vw; }

.container-links h2 {
  color: #ff7300;
  font-size: 1.2vw; }

.container-links a {
  color: #585756;
  font-size: .8vw; }

.container-links a:hover {
  color: #8a8684;
  font-size: .8vw; }

.container-contact h2 {
  color: #ff7300;
  font-size: 1.2vw; }

.container-contact p {
  font-size: .9vw; }

i:hover {
  color: #ff4800; }
