.subcontainer-nuestroEquipo {
  background: #18183d;
  /*GRID GENTE*/
  /*GRID LEALTAD*/
  /*GRID RESPETO*/
  /*GRID COMPROMISO*/ }
  .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-gente .subcontainer-nuestroEquipo-gente-img {
    background: #3b3b3b; }
    .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-gente .subcontainer-nuestroEquipo-gente-img img {
      display: block;
      width: 100%;
      height: auto; }
  .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-gente .subcontainer-nuestroEquipo-gente-description {
    background: #831fe0; }
  .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-lealtad {
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-lealtad .subcontainer-nuestroEquipo-lealtad-img {
      background: #3b3b3b; }
    .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-lealtad .subcontainer-nuestroEquipo-lealtad-description {
      background: #831fe0; }
  .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-respeto {
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-respeto .subcontainer-nuestroEquipo-respeto-img {
      background: #3b3b3b; }
    .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-respeto .subcontainer-nuestroEquipo-respeto-description {
      background: #831fe0; }
  .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-compromiso {
    grid-template: repeat(40, 1fr)/repeat(40, 1fr); }
    .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-compromiso .subcontainer-nuestroEquipo-compromiso-img {
      background: #3b3b3b; }
    .subcontainer-nuestroEquipo .subcontainer-nuestroEquipo-compromiso .subcontainer-nuestroEquipo-compromiso-description {
      background: #831fe0; }
