<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_consejoUno.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_consejoUno.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_consejoUno.css">

<div class="subcontainer-consejo">
    <div class="subcontainer-consejo-titulo">
        <h1>Some of our Tips</h1>
    </div>
    <div class="subcontainer-consejo-descripcion">
        <p>
            The blinds are part of the interior accessories of the home that, in addition to sifting natural light, are protagonists in the thermal insulation of the house. Therefore, when choosing a model or material, in addition to considering aesthetics, it is
            also advisable to think about efficiency and durability.
        </p>
        <p>
            Currently in the market we can find a large assortment of models, qualities and materials in blinds. The opening and closing systems are varied, from very economical to the most sophisticated automated systems, which adapt to all pockets and styles of
            decoration.
        </p>
        <p>
            Before buying a blind, the first step is to obtain the exact measurement, when the window occupies the whole area, the numbers must be exact from wall to wall, while if it is placed at the center of the room it is recommended to add 10 centimeters per
            side (left, right and bottom) to be enough.
        </p>
    </div>
</div>