<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_consejoDos.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_consejoDos.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_consejoDos.css">

<div class="subcontainer-consejo">
    <div class="subcontainer-consejo-titulo">
        <h1>Some of our Tips</h1>
    </div>
    <div class="subcontainer-consejo-descripcion">
        <p>
            The blinds also adapt to any environment giving warmth and printing a unique seal.
        </p>
        <p>
            The perfect combination between a classic horizontal blind and the natural beauty of a wooden blind.
        </p>
        <p>
            Wood blinds are perfect for complementing country designs with the modern features required by users.
        </p>
        <p>
            Manufactured with treated woods and finishes that perfectly match the design of your home.
        </p>
        <p>
            Choose classic wood blinds for studios, offices and balconies
        </p>
        <p>
            They combine the beauty of natural wood with the versatility of light control.
        </p>
    </div>
</div>