<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_shutterCorrediza.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_shutterCorrediza.css">
<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_shutterCorrediza.css">

<!--////////// CODIGO PARA INDICAR QUE LA PAGINA ESTA EN PROCESO DE CONSTRUCCION ////////////-->
<!-- <div class="container-conocenos">
    <br>
<br>
    <h1 class="titulo d-flex justify-content-center">Modulo conocenos en construccion</h1>
    <div class="img d-flex justify-content-center align-items-center">
        <img src="/media/Imagenes/web-site-progress/14.png" alt=" ">
    </div>
</div> -->

<div class="subcontainer-shutterCorrediza">
    <div class="subcontainer-shutterCorrediza-description">
        <h1>Shutter Slinding</h1>
        <div class="subcontainer-shutterCorrediza-description-text">
            <p>Shutters sliding doors have the advantage of being very functional and practical.</p>
            <p>Shutters Sliding Doors are widely used in different mainly in French windows, and in areas as wide windows that want to have this type of functionality.</p>
            <p>There are various wooden frames to highlight the view to suit your needs and a variety of colors.</p>
            <p>
                An excellent choice when you want to cover wide windows; and divided areas to form environments privacy. It is comprised of a series of overlapping sliding canvas with the aid of a versatile system based cord constant height, or by remote control as required
                when the motorized.
            </p>
        </div>
    </div>
    <div class="subcontainer-shutterCorrediza-imagenes">
        <img src="/media/Imagenes/types-of-shutters/Sliding-shutter/corrrediza.jpg">
        <img src="/media/Imagenes/types-of-shutters/Sliding-shutter/corrrediza-2.jpg">
    </div>
</div>