<!-- Responsive -->
<link rel="stylesheet" href="/styles/Responsive/css/Responsive_ShutterArco.css">
<!-- Design -->
<link rel="stylesheet" href="/styles/Design/css/Design_ShutterArco.css">
<!-- Layout -->
<link rel="stylesheet" href="/styles/Layout/css/Layout_ShutterArco.css">

<div class="subcontainer-shutterArco">
    <div class="subcontainer-shutterArco-description">
        <h1>Shutter door arch or bar</h1>
        <p>
            Shutters Arc can be in perfect shape or irregular shaped arch Archo. In both cases templates required for processing. Usually the Arc Shutters are usually are in fixed form, but there Shutters Arc which usually take the form of Arco on the panel and usually
            swing. There are various wooden frames to highlight the view to suit your needs and a variety of colors.
        </p>
    </div>

    <div class="subcontainer-shutterArco-imagenes">
        <img src="/media/Imagenes/types-of-shutters/Arch-shutter/shutterArco.jpg" alt="">
        <img src="/media/Imagenes/types-of-shutters/Arch-shutter/shutterArco-2.jpg" alt="">
    </div>
</div>